[2017-08-16 18:11] Daniel15 commented on #1310
I accidentally removed them in https://github.com/babel/website/pull/1320 but we can add them to the root `package.json` and run them across the entire site. TravisCI already runs some lint checks, it could run ESLint/Prettier/Flow checks too.

[2017-08-16 23:45] Daniel15 opened #1325 "Nicer loading state for new REPL"
While the JS is loading, the new REPL just shows some plain "Loading" text at the top left. Let's add a slightly nicer loading state - At least bigger text and centered, or something like that. I'm not a designer 😛

[2017-08-16 23:46] Daniel15 commented on #1309
https://babeljs.io/repl2/

Same as before, `make serve` to run it locally. It'll run both Webpack **and** Jekyll concurrently.

[2017-08-16 23:46] #1309 closed

[2017-08-17 07:34] xtuc commented on #1324
The selection of the correct item in the menu is [here](https://github.com/babel/website/blob/master/_includes/header.html#L43). The `page.url contains item.url` adds so much restrictions, it's not the first time we have this kind of issues.

[2017-08-17 07:56] rmwiseman opened #1327 "Absolute basics introduction"
Whilst the documentation on your site is good, I'm finding it makes lots of assumptions that limits who will be able to use Babel.  It would be useful for me if you could have an introduction page (even if it's largely links to other sites) explaining how Babel ties in with node (which I've never used to develop a project) and npm (which I thought was just a package manager but now seems to be som

[2017-08-17 15:50] bvaughn opened #1328 "Fix REPL2 placeholder style"
This got broken during the merge, presumably by some global Babel style.

### Before merge
![screen shot 2017-08-17 at 8 49 32 am](https://user-images.githubusercontent.com/29597/29421169-0e3997fe-8329-11e7-8b64-451ebc322377.png)

### After merge
![screen shot 2017-08-17 at 8 49 20 am](https://user-images.githubusercontent.com/29597/29421170-0e461664-8329-11e7-88ab-a5687548d404.png)

[2017-08-17 16:04] bvaughn opened #1329 "Sanitize evaluated input"
Copying one of the examples from the [React "getting started" guide](https://facebook.github.io/react/docs/introducing-jsx.html) and enabling "evaluate" actually un-mounts the REPL and replaces it with the example code. ([Here is an example](http://babeljs.io/repl2/#?babili=false&browsers=&builtIns=false&code_lz=GYVwdgxgLglg9mABMOAnAtgQygOU-gUwAoQBnA1ASkQG8AoRRVAqEVJMigOmBlVNz4CiANSIA5BNGJOqLgBtMA

[2017-08-17 17:11] Andarist commented on #1310
I can help with that. Gonna send a PR some time later today

[2017-08-17 20:24] hzoo commented on #1295
This is better now right, can close (for repl2)?

[2017-08-17 20:53] Daniel15 commented on #1329
Hahahaha. Wonderful.

To be fair, the old repo also has the same problem if you do something like `document.body.innerHTML = 'lol'`. I wonder if it should either shim `document` and `window`, or evaluate the script in an iframe.

[2017-08-17 21:17] nicolo-ribaudo commented on #1295
Yes

[2017-08-17 21:17] #1295 closed

[2017-08-17 21:32] Daniel15 opened #1331 "download-readmes.js should handle when raw.githubusercontent.com returns 5xx errors"
Self-explanatory:
![](https://user-images.githubusercontent.com/91933/29434672-d68c3412-8358-11e7-8e55-973695572ab5.png)

Maybe retry a few times?

[2017-08-18 02:00] #1328 closed

[2017-08-18 04:45] bvaughn commented on #1316
Whoops. We should also debounce the main REPL text input 🤡

[2017-08-18 05:57] bvaughn commented on #1329
Follow up with eval in an iframe.

[2017-08-18 19:11] bvaughn commented on #1325
I think we can probably use a similar UI treatment as was added in #1318.

![loading](https://user-images.githubusercontent.com/29597/29473877-47a9c6ae-840e-11e7-83ed-a8aff097d187.gif)

[2017-08-18 19:12] Daniel15 commented on #1325
Good idea. We should be able to update that loading state to use plain CSS (and maybe a bit of JS) so it can be used as a loading indicator for the entire REPL.

[2017-08-18 19:13] bvaughn commented on #1325
Agreed!

[2017-08-19 04:46] #1310 closed

[2017-08-20 04:06] #65 closed

[2017-08-20 05:21] bvaughn commented on #1329
This was moved into an `<iframe>` via #1315

[2017-08-20 05:21] #1329 closed

[2017-08-20 17:53] bvaughn opened #1342 "Investigate moving compilation to web-worker"
Blocked by #1318; related to PR #880.

~~Possibly look into using a similar pattern as [`js-worker-search`](https://github.com/bvaughn/js-worker-search) for [falling back to the UI thread for browsers that don't support web workers](https://github.com/bvaughn/js-worker-search/blob/master/src/SearchApi.js#L26-L41).~~ Informal decision about discussing in Slack is to drop support for IE < 11 provide

[2017-08-20 20:57] #1325 closed

[2017-08-21 00:21] #1316 closed

[2017-08-21 06:46] xtuc commented on #1331
:smiley: yes, we would avoid publishing errors pages.
A quick fix would be to abort the process when an HTTP error occurred.

[2017-08-21 06:49] Daniel15 commented on #1331
Maybe it could retry a few times and abort if it fails three times in a row. I think it's relatively rare for GitHub to experience issues, so a retry might be sufficient.

[2017-08-21 06:52] xtuc commented on #1331
Yes, right.

Since [node-fetch](https://github.com/babel/website/blob/master/scripts/download-readmes.js#L20) uses Promise I think we could use something like this: https://www.npmjs.com/package/promise-retry. Should be easy to integrate.

[2017-08-22 04:21] #1313 closed

[2017-08-27 19:54] #1342 closed

[2017-08-27 20:23] bvaughn opened #1347 "Convert REPL sidebar to accordion view"
It's already a bit cramped and this will only get worse once issues like #858 and #1292 are added.

I propose a design similar to what CodeSandbox.io uses:
<img width="431" alt="screen shot 2017-08-27 at 4 25 26 pm" src="https://user-images.githubusercontent.com/29597/29754932-5d184262-8b44-11e7-8678-f4fa846ad940.png">

It should provide us lots of room to grow.

[2017-08-28 00:40] hzoo commented on #1347
sounds good to me

[2017-08-28 11:16] xtuc opened #1349 "Try links doesn't work with the new REPL"
When clicking on the "Try" link in http://babeljs.io/learn-es2015/#ecmascript-2015-features-destructuring the REPL opens without the content of the code snippets.

Does the content in URL conflicts with my cached content somehow? I think it should override but still keep the cached code in the local storage.

@bvaughn any idea?

Edit:
it doesn't work in incognito mode, it's not cache related.

[2017-08-28 13:08] fnky opened #1350 "New REPL doesn't include regenerator runtime"
While the new REPL does include [`transform-regenerator`](https://github.com/babel/website/blob/master/js/repl/compile.js#L76), it doesn't use the regenerator runtime to be able to run async functions and generators:

[code]

outputs the following:

[code]

which throws:

[code]

This works fine in the old REPL.

[2017-08-28 14:01] hzoo commented on #1350
maybe we aren't including babel-polyfill anymore, didn't check

[2017-08-28 16:46] bvaughn opened #1351 "Add error boundaries [in-progress by @kaushlakers]"
Since the REPL is already using React 16, we should take advantage of [the new `componentDidCatch` error handling lifecycle](https://facebook.github.io/react/blog/2017/07/26/error-handling-in-react-16.html).

As we move forward on issues like #858 and #1292, it would be nice to add `componentDidCatch` to a couple of key components. The REPL currently uses `try`/`catch` statements where errors are

[2017-08-28 21:27] Daniel15 opened #1352 "Add ability for REPL to load latest master build"

[2017-08-28 21:51] bvaughn commented on #1349
Interesting!

[Query/URL state always overrides `localStorage` state](https://github.com/babel/website/blob/5ad2023f39e63a6c3b49bba8a2faa7bdcb91d54b/js/repl/replUtils.js#L33-L38) if present. This was an intentional design choice.

I'll look into why this is happening!

[2017-08-28 21:56] bvaughn commented on #1349
Ah, the cause of this is that the "Try" links aren't compressing the code in the way the REPL expects. I was unaware of this use-case. I'll put up a PR fix momentarily!

[2017-08-28 22:11] #1349 closed

[2017-08-29 14:36] #1347 closed

[2017-08-29 15:26] bvaughn opened #1358 "Sidebar accordion follow-up"
Follow-up work for PR #1355.

WRT [@existentialism's comment](https://github.com/babel/website/pull/1355#issuecomment-325676886): Should we get rid of the sidebar toggle? Is it adding value to be able to hide the whole sidebar? This is questionable in the large layout view but I see the value in the smaller layouts. A lot of the available height on a phone is taken up even when all accordions are

[2017-08-29 16:00] hzoo commented on #1243
Not really sure this is actionable? going to close

[2017-08-29 16:00] #1243 closed

[2017-08-29 16:01] hzoo commented on #1255
Should be fixed now with the new repl

[2017-08-29 16:01] #1255 closed

[2017-08-29 16:01] hzoo commented on #1238
Should be fixed now since we download the readmes instead of submodules?

[2017-08-29 16:01] #1238 closed

[2017-08-29 16:09] hzoo commented on #1352
In addition, remove 7.html/scripts/7.js since it's not necesarry anymore

[2017-08-29 16:23] imbhargav5 commented on #1099
I would like to take this up!

[2017-08-29 16:24] hzoo commented on #1099
@imbhargav5 awesome, looks like there is already a PR in progress but stale now https://github.com/babel/website/pull/1126

[2017-08-29 16:27] imbhargav5 commented on #1099
@hzoo So what do you think I should do? Should I wait for more activity or should I start afresh ? Or do you think there is a better way?

[2017-08-29 16:28] hzoo opened #1359 "REPL docs"
After https://github.com/babel/website/pull/1356

- how do we document this url structure to users? do we make a docs page, a tooltip somewhere, explain the structure so people will know about it?
- and can we link to the PR that caused that build (circular reference back), or link to the commit/branch tip for easy checking?

cc @Daniel15

[2017-08-29 16:30] existentialism commented on #1359
We could have a modal come up if they click on the version in the sidebar, that can offer switching between major versions, describe URL options (not sure if we _really_ need to do this tho), and if applicable, link back to PR?

[2017-08-29 16:33] hzoo commented on #1359
that would be fun lol, or have a tooltip on hover of the version (or we can put it in the error message) at the bottom

[2017-08-29 16:45] existentialism commented on #1359
Yea, either way it needs to be pretty unobtrusive IMO, the REPL is _only_ going to continue to get more complicated.

[2017-08-29 16:46] hzoo commented on #1359
Yeah I would move all of it into version (on click/hover) if we do it

[2017-08-29 16:58] hzoo commented on #1359
would be nice to just emulate the github url naming

[2017-08-29 20:15] bvaughn commented on #1350
We lazy-load `babel-polyfill` (which includes the regenerator runtime) if you check "Evaluate"

[2017-08-29 20:22] bvaughn commented on #1350
Just confirmed that selecting the "Evaluate" option loads [bundle.run/babel-polyfill@6.26.0](https://bundle.run/babel-polyfill@6.26.0), and that bundle defines a top-level `regeneratorRuntime` function.

And we [load it on the UI thread](https://github.com/babel/website/blob/master/js/repl/Repl.js#L236-L239) which is where we evaluate things.

But I also see the warning you're mentioning on the ri

[2017-08-29 20:31] bvaughn commented on #1350
I think a better solution would be to just load the runtime polyfill directly into the iframe we're evaling in. I'll look into making this change soon. 😄

[2017-08-29 20:55] Daniel15 commented on #1350
@bvaughn  - Could we update it to load babel-polyfill via unpkg (https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js) rather than bundle.run? The resulting file is about 2 KB smaller.

[2017-08-30 00:13] bvaughn commented on #1350
Hm. I guess I could? Some things (eg Prettier) aren't loadable directly from unpkg which is why I was using bundle.run. At one point I was using both and switching between via an optional `PluginConfig` flag. We could do that again, sure. I'd say file it as a separate issue though since it's unrelated to this? 😄

[2017-08-30 05:20] #1352 closed

[2017-09-01 03:54] #1350 closed

[2017-09-01 03:56] Daniel15 commented on #1350
We should get Prettier to fix that (or submit a PR to fix it) :P

Good idea!

[2017-09-01 04:02] Daniel15 opened #1365 "Remove redundancy in presetPluginConfigs"
In `js/repl/PluginConfig.js`

[code]

We don't need the `package` key; we can just assume the package name is `babel-preset-${label}`

[2017-09-01 04:05] Daniel15 opened #1366 "Load polyfills from polyfill.io rather than babel-polyfill"
`babel-polyfill` is very heavy, and the REPL loads it when you select the "evaluate" option. Let's instead use a conditional polyfilling service like `polyfill.io` that only loads the polyfills your browser actually needs. I'd say that most users of the REPL would be using a relatively modern browser, so this should reduce load time.

We'll need to be sure to load the regenerator runtime though.
[

[2017-09-01 04:29] bvaughn commented on #1350
File an issue with them then? 😄

It seemed intentional (to me) that they don't publish a UMD bundle to NPM. I assumed they didn't expect anyone to load it in the browser because it's so large and not a common use-case.

Looks like their [service worker](https://github.com/prettier/prettier/blob/gh-pages/service-worker.js) uses [sw-toolbox](https://github.com/GoogleChrome/sw-toolbox) to load a [min

[2017-09-01 10:09] zloirock commented on #1366
I'm strictly against of usage `polyfill.io` in the REPL because it contains very incorrect polyfills and only a little part of polyfilled features from `babel-polyfill`.

[2017-09-03 04:20] kaushlakers commented on #1351
I can take a stab at this if that's sounds okay. :) I'm a complete newbie to OSS, but I was able to understand "most" of the words in the description, so it felt doable.

[2017-09-03 04:25] bvaughn commented on #1351
Have at it, @kaushlakers! Let me know when you're ready for me to take a look.

[2017-09-03 05:32] kaushlakers commented on #1351
Awesome! I'll dig in and come back here with more clarifications 😃

[2017-09-03 18:16] bvaughn commented on #1366
Seems like there's more consensus here _not_ to use polyfill.io than there is _to_ use it and I'm not aware of an alternative that's more reliable.

I agree that `babel-polyfill` is heavy, but we do JIT load it only if the user selects "Evaluate", so there's that.

I think for now it's okay to close this issue. Let's reopen it if we settle on a course of action that's less controversial. 😄

[2017-09-03 18:16] #1366 closed

[2017-09-03 18:19] Daniel15 commented on #1366
Okay, sounds reasonable. Thanks!

I wonder if we could have a few babel-polyfill builds for the most common browser capabilities, and just load the right one based on capabilities. Even just two or three would be useful:

 - Very old browser (load everything)
 - Reasonably modern browser (don't polyfill promises,. `Map`, `Set`, etc.)

[2017-09-04 01:41] kaushlakers commented on #1351
@bvaughn after digging in a bit, looks like there's 2 kinds of errors that are dealt with. One is when babel fails to load, in which case, we just display an [error message](https://github.com/babel/website/blob/master/js/repl/Repl.js#L129). Other case is the errorMessage we display in the [CodeMirrorPanel](https://github.com/babel/website/blob/master/js/repl/CodeMirrorPanel.js#L39) when compiles/

[2017-09-04 04:03] bvaughn commented on #1351
I was thinking we might just add a top-level error boundary (to the `Repl` component, for example) that basically showed a similar error message as we do when Babel fails to load. Just a catch-all so we don't just crash/unmount without explanation if an unexpected error occurs.

I've added error handling in the various places I think errors are _likely_ to occur. This would just be to catch ones I

[2017-09-04 04:24] kaushlakers commented on #1351
Sounds good! 👍

[2017-09-04 06:09] kaushlakers commented on #1351
@bvaughn your move 😄 Thanks!

[2017-09-04 08:18] xtuc commented on #1366
Another solution would be to add babel-preset-env in bundle.run. We could pass the browser in query parameters. It will defeats a bit the purpose of the CDN since it will bypass it for each new browser.

[2017-09-04 08:19] Daniel15 commented on #1366
Yeah, it's impossible have effective edge caching if the content varies by User-Agent, unless you encode that information into the filename. I think just having two builds ("old browsers" and "modern browsers") is probably sufficient initially.

[2017-09-04 08:24] xtuc commented on #1366
Ok, to be efficient we could pass either Chrome 50 or Chrome 30 (or something like that) depending on the browser version which we could get on the client-side in JavaScript.

[2017-09-05 13:40] nicolo-ribaudo opened #1369 "babel-plugin-transform-regenerator is always enabled"
http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&circleciRepo=&code_lz=IYZwngdgxgBAZgV2gFwJYHsLwgCgJQwDeAvgFCIoYQBU2ATPkcUA&debug=false&evaluate=false&lineWrap=false&presets=&prettier=false&showSidebar=true&targets=&version=6.26.0

## Input code
[code]

## Settings/Presets
Everything should be unchecked

## Screenshot

![babel-repl-bug-regenerator](https://user-images.githubuse

[2017-09-05 13:50] nicolo-ribaudo opened #1370 "Unable to share repl url with every preset disabled"
http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&circleciRepo=&code_lz=Q&debug=false&evaluate=false&lineWrap=false&presets=&prettier=false&showSidebar=true&targets=&version=6.26.0

`http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&circleciRepo=&code_lz=Q&debug=false&evaluate=false&lineWrap=false&`**`presets=`**`&prettier=false&showSidebar=true&targets=&versi

[2017-09-06 03:00] #1351 closed

[2017-09-06 03:02] kaushlakers commented on #1351
Great! Happy to help on other tasks too, if needed. 😃

[2017-09-06 03:03] bvaughn commented on #1351
Cool! Check out some other [beginner friendly](https://github.com/babel/website/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner-friendly) or [help wanted](https://github.com/babel/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) task s if you're looking for ideas. 😄

[2017-09-07 16:02] #1358 closed

[2017-09-11 15:26] hzoo commented on #1275
https://github.com/babel/website/pull/1277

[2017-09-11 15:26] #1275 closed

[2017-09-11 15:32] hzoo opened #1374 "Guest Blog Posts"
## Some Possible Ideas

- [x] babel-macros https://github.com/babel/website/pull/1277
- [ ] CSS in JS Babel plugins: https://github.com/babel/website/issues/1276
- [ ] firefox devtools usage of Babel cc @jasonlaster?
- [ ] codemods https://github.com/babel/website/issues/972
- [ ] publishing to npm

[2017-09-11 16:38] bvaughn opened #1376 "Guest Blog Post: The new REPL and it's future"
Relates to #1374

[2017-09-12 03:28] babel-bot opened #1378 "Export async function not working"
Original issue submitted by @danez in https://github.com/babel/babel/issues/6225

Choose one: is this a bug report or feature request?

bug

### Input Code
[code]

or

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

https://babeljs.io/repl/build/7.0/#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA29UGcCeAdgMZzLokwCWEhcMEYcAFAJRwDeAvkA&d

[2017-09-12 03:29] jridgewell commented on #1378
Looks like this is a mismatched repl bug. It's somehow loaded `babel-preset-env-standalone@0.0.6`, which uses `babel-plugin-transform-es2015-block-scoping@6.6.0`, which is incompatible with `babel-core@7.0.0-alpha.20`

[2017-09-16 23:12] hzoo opened #1381 "Make a team page"
It's cool that I added this earlier but we don't really update it and it's probably better on the website anyway

https://github.com/babel/babel/blob/745c4740af136fa590c829cf435c60e6413a8952/README.md#core-members

Can also put more information, like how you got involved, what you like to work on, etc

[2017-09-18 21:32] jakegavin opened #1382 "Sidebar navigation overlays community discussion on docs"
Currently, the sidebar navigation covers up the community discussion section:
![image](https://user-images.githubusercontent.com/5965895/30565534-807b5754-9c7d-11e7-9e42-9c3cd9157a60.png)

One way to resolve this would be to change the [docs layout](https://github.com/babel/website/blob/f7ac556ef1e392b7c1a4351b94820ac9ba0c4441/_layouts/docs.html) so that the community discussion section is inside

[2017-09-18 22:15] hzoo opened #1383 "REPL social media embed"
https://twitter.com/left_pad/status/909088586473115648

When you post a link to the repl on twitter and elsewhere, we should change what it shows? Maybe it should just not have the same picture/etc (just remove it entirely), it's annoying?

[2017-09-19 10:52] umar-xgrid opened #1384 "REPL is broken"
[The page](https://babeljs.io/repl/) keeps showing a throbber indefinitely. Says "Uncaught ReferenceError: React is not defined" in console.

<img width="1440" alt="screen shot 2017-09-19 at 3 47 53 pm" src="https://user-images.githubusercontent.com/31015073/30589006-5c5059bc-9d52-11e7-903b-cf98d8dbe4de.png">

[2017-09-20 08:22] aaaia opened #1385 "Question about inheritance (precisely about instantiating superclass object)"
I have a question.

I pasted code below to Your translator (https://babeljs.io/repl)

     class A {
       constructor(a){console.log(a);}
     }

     class B extends A {
         constructor(b){
             super(b)
         }
    }

And the result was:

    "use strict";

    function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised

[2017-09-20 08:44] nicolo-ribaudo commented on #1385
`if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass;` in `_inherits` sets B's __proto__ object to A.
It's `B.prototype.constructor` that is overridden, not `B.__proto__` (which is returned by `getPrototypeOf`).

PS. If you have other questions, you can ask in our slack channel (https://babeljs.slack.com)

[2017-09-20 08:45] #1385 closed

[2017-09-20 09:48] aaaia commented on #1385
Thanks for quick reply.

[2017-09-20 12:33] kasiriveni commented on #1384
@umar-xgrid  its working fine now

[2017-09-20 14:08] hzoo commented on #1384
one of the cdn we use might of been down at the time

[2017-09-20 14:08] #1384 closed

[2017-09-23 19:07] loganfsmyth commented on #1369
@bvaughn Looks like this from https://github.com/babel/website/commit/c10d2e95267e325713269501c5801bb468810470#diff-6cc3e83f602a8e0e95c6eddfb8bb6a79R31

Did that get added in there for a reason, or was that a mistake?

[2017-09-24 21:41] bvaughn commented on #1369
Don't know if it was intentional or not. Doesn't seem ideal though.

[2017-09-25 06:49] xtuc commented on #1383
I'm wondering how you could generate a picture of the code (without a backend?).

Either we should remove the cover because it's annoying or an picture with "click to see the REPL" or something.

[2017-09-25 10:01] babel-bot opened #1388 "Babel repl - prettier is not defined"
Original issue submitted by @BorisTB in https://github.com/babel/babel/issues/6301

Bug

On [babel repl](https://babeljs.io/repl/) when I check Prettify, the whole repl is lagged with console error `prettier is not defined` and I can't refresh repl. (I have to remove `replState` from localStorage and then refresh)

[2017-09-25 10:02] xtuc commented on #1388
I can reproduce it, the console also outputs the following error: `cosmiconfig requires at least version 4 of Node, please upgrade`.

[2017-09-25 16:17] #1369 closed

[2017-09-26 14:22] uvtc opened #1391 "Needs an About page"
Under the Docs menu, right at the top, there should be an About page that describes exactly what Babel is, in plain language. That is: specifically what it does, what language(s) it accepts as input, what particular version of JS it emits as output, what it requires to run, and just a general overview of how the whole process works.

See also #1327.

[2017-09-27 15:37] hzoo opened #1392 "REPL: bring old console.log pane back"
Got a lot of comments on twitter about this (also @gsathya and @jridgewell at TC39)

<img width="700" alt="screen shot 2017-09-27 at 11 38 04 am" src="https://user-images.githubusercontent.com/588473/30922854-59331a04-a378-11e7-9697-9d1d382a66f1.png">

[2017-09-28 03:25] hzoo commented on #1276
I still think this would be cool to have! Would encourage others to try their own plugins, and maybe we could get some contributors to core 😄 (plz)

[2017-09-28 06:42] mxstbr commented on #1276
I can write something up about why we built ours initially and how it works. 😊

[2017-09-28 07:03] giuseppeg commented on #1276
@hzoo if time is not a constraint I can do that :)

[2017-09-28 11:08] asthas commented on #1383
@hzoo I want to do it!

[2017-09-28 11:11] hzoo commented on #1383
Ok I didn't really go into the solutions - do you understand the issue though? It's just that either we
- remove a picture entirely for the `/repl` URLs
- somehow generate an image (seems unlikely)
- use a different image just for those URLs

I think removing the image for social media seems reasonable (simple, easiest)

[2017-09-28 11:13] asthas commented on #1383
@hzoo Even I feel the same that removing the pictures for repl is the best possible solution. So should I implement it?

[2017-09-28 11:17] hzoo commented on #1383
Great, sounds good.

I believe the image is from https://github.com/babel/website/blob/master/_includes/head.html, but not sure how you remove it from the repl link (I guess another question is whether we would want to remove it entirely)

I guess jekyll may have a way to check the `page.url` first

Oh wait I already see a `  {% if page.permalink != '/repl/' %}`

[2017-09-28 11:18] reznord commented on #1392
I'd like to take this on.

[2017-09-28 11:21] hzoo commented on #1392
Ok cool, the code from the old repl is in https://github.com/babel/website/blob/master/scripts/repl.js#L592-L641

and now we have the react REPL in https://github.com/babel/website/tree/master/js/repl

[2017-09-28 11:22] asthas commented on #1383
@hzoo  I agree, doing it in jeklly by conditionally removing the meta-tag for repl links would be the ideal solution in my mind

[2017-09-28 11:26] asthas commented on #1383
@hzoo I feel the error is because of lines 31, 33, 37, these would also need a repl check.

[2017-09-28 12:03] hzoo commented on #1276
Yep, no time limits (believe me I understand that we don't always have time for these things)! Just a way to express the use cases for community plugins

[2017-10-01 20:25] benbrandt commented on #1307
I can grab this one!

[2017-10-02 14:58] #1370 closed

[2017-10-02 15:28] #1388 closed

[2017-10-04 00:52] hzoo opened #1402 "REPL: remove parts of the url that are falsy/empty since unncessary"
So for a url like

`https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=IZA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015-loose&targets=&version=7.0.0-beta.0`

Some of the fields that are either `&key=` or `&key=false` can be removed and it should work the same?
`babili=false&browsers=&build=&builtIns=false&debug=false&circleciRepo=&evaluate=false

[2017-10-04 17:19] ExE-Boss opened #1404 "REPL: Add support for elastic tabstops"
[Elastic tabstops](http://nickgravgaard.com/elastic-tabstops/) allow for better code alignment using tabs.

There is already a [JavaScript library](https://github.com/hax/etab) for this, but I would recommend using [my fork](https://github.com/ExE-Boss/etab/tree/fix/docs-and-tab-alignment), because it [has support for JSDoc and fixes some issues](https://github.com/hax/etab/compare/master...ExE-Bo

[2017-10-05 04:47] Daniel15 commented on #1402
Instead of stripping `false`, we should strip params that have the default value. It's possible we already have params that default to `true`, or might in the future.

[2017-10-05 04:53] hzoo commented on #1402
Much better idea ^, thanks Daniel 😄

[2017-10-05 09:14] xtuc opened #1405 "Minify doesn't work in the REPL anymore"
See [REPL](https://babeljs.io/repl/#?babili=true&browsers=&build=&builtIns=false&code_lz=IxA&debug=false&circleciRepo=&evaluate=true&lineWrap=true&presets=es2015%2Cstage-0%2Cbabili&targets=&version=7.0.0-beta.1)

The error is the following: `repl: traverse.clearCache is not a function`.

/cc @boopathi

[2017-10-05 14:00] existentialism commented on #1405
Probably because current minify isn't compatible with babel 7? Seems to [work fine with 6.x](https://babeljs.io/repl/#?babili=true&browsers=&build=&builtIns=true&code_lz=IxA&debug=false&circleciRepo=&evaluate=true&lineWrap=false&presets=es2015%2Cstage-0%2Cbabili&targets=Node-4&version=6.26.0)

On another note, we likely need to tie a versions of preset-env and minify to the `version` flag passed i

[2017-10-05 14:15] xtuc commented on #1405
Yes right @existentialism, there's the PR in WIP https://github.com/babel/minify/pull/487.

Could we maybe add an error when calling preset-env/minify with an unsupported Babel version? babel-core exports its version IRC.

[2017-10-06 16:18] hzoo opened #1409 "REPL: keybindings don't work"
Got informed by @designjockey that the keybindings don't work anymore in the new REPL!!

This is weird because we did set the keyMap so not sure what is wrong?
 https://github.com/babel/website/blob/54bf885ef07a418b48561a9a82f6a192eba5d078/js/repl/CodeMirror.js#L10

Example of it working: https://codemirror.net/demo/sublime.html.

Example is being able to do `ctrl+/` for commenting a selection

[2017-10-06 17:51] existentialism commented on #1392
@reznord how's it going? have any questions?

[2017-10-08 14:23] babel-bot opened #1412 "Import transform not listed in REPL Debug output"
Original issue submitted by @qm3ster in https://github.com/babel/babel/issues/6441

This is a bug report

### Input Code
[REPL Link](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=true&code_lz=JYWwDg9gTgLgBAbwIIF84DMoRHA5AOgHoBDfAKwGdcg&debug=true&circleciRepo=&evaluate=true&lineWrap=true&presets=env&targets=&version=6.26.0
)
[code]

### Babel Configuration (.babelrc, package.jso

[2017-10-08 14:24] existentialism commented on #1409
Let's close this and file separate issues for any additional specific keyboard shortcuts we want to enable.

[2017-10-08 14:24] #1409 closed

[2017-10-09 06:32] xtuc commented on #1392
I made https://github.com/babel/website/pull/1406, it's similar?

[2017-10-11 14:03] #1307 closed

[2017-10-11 14:04] #1412 closed

[2017-10-11 14:05] existentialism commented on #1412
@qw3rtman the module transform that env used is now output in debug, though it will be more useful whenever we surface a `modules` option in the REPL.

[2017-10-12 15:18] rajzshkr commented on #1381
@hzoo I can pick this.

[2017-10-12 16:24] xtuc commented on #1381
Good news @rajzshkr, you can join our Slack if you have any question or need some help.

[2017-10-12 16:38] rajzshkr commented on #1381
@xtuc where can I get the design?

[2017-10-12 22:25] hzoo commented on #1381
We don't have a design, I would just go with something like https://vuejs.org/v2/guide/team.html

[2017-10-14 13:05] hzoo commented on #1392
@xtuc not the same, it's about showing the output of the console in the website itself (without opening dev tools in the first place)

[2017-10-14 13:15] xtuc commented on #1392
Ok got it. If we are doing this, my pr https://github.com/babel/website/pull/1406 is not useful anymore. Feel free to close it.

[2017-10-14 19:13] hzoo opened #1418 "Design the Videos Page (and add more links)"
Update https://github.com/babel/website/blob/master/docs/community/videos.md

Other vids?

- https://www.youtube.com/watch?v=VBscbcm2Mok&index=3&list=PLV5CVI1eNcJgNqzNwcs4UKrlJdhfDjshf
- https://youtu.be/rpb9iOKyO30
- https://www.youtube.com/watch?v=wo8ZLdveIcI&t=10s&list=PLtAjOQfgHj2W7vDBcfcM99ZCUm39jkefR&index=7

[2017-10-14 19:15] #27 closed

[2017-10-14 19:28] existentialism commented on #1418
Would be great too if someone would take a stab at redesigning how the videos are displayed, maybe something like:

![image](https://user-images.githubusercontent.com/56288/31578682-e1dc7334-b0eb-11e7-9ed3-b99cc8bbfb50.png)

[2017-10-14 19:30] xtuc commented on #1418
It looks really cool @existentialism.

We could probably make a beginner-friendly issue for this?

[2017-10-14 19:30] hzoo commented on #1418
Oh nice! Actually yeah we could just make it a data thing like the users and generate the format ^ https://github.com/babel/website/blob/master/_data/users.yml

[2017-10-16 11:50] atelljohannsmothers opened #1422 "REPL throwing TypeError"
https://babeljs.io/repl/ is throwing the error below:
[code]

[2017-10-16 13:09] markogresak opened #1423 "Why was lodash dropped on REPL?"
I often used Babel REPL to test a snippet of code using lodash. Why was it removed?
Among other issues (removed console pane, worse bracket and autocomplete, etc.), the lack of lodash is the most common problem I keep running into and it is causing me to use the REPL less and less.
Would you consider adding lodash back? Or at least adding a checkbox in the side menu to include it on the page?

[2017-10-16 13:11] xtuc commented on #1422
Interesting, I don't have this issue on my side (even after cleaning the cache).

Can you see the REPL? Could you retry after cleaning your cache?

[2017-10-16 13:20] xtuc commented on #1423
While I agree that it would be useful to have lodash in the REPL, we don't want to support adding every package on npm.

[2017-10-16 13:25] hzoo commented on #1423
There is no reason other than that it was used before and I guess we didn't need it anymore? If you used the REPL to specifically test lodash I would use their docs instead or just include the script yourself since it's just a global script injection (similar to how people added jquery to a page).

https://github.com/babel/website/issues/858 is a separate ticket to be able to import any npm packag

[2017-10-16 14:08] markogresak commented on #1423
I was using code snippets from the existing project, which often use syntax that needs to be transpired in order to work in the browser. And editing the code in the REPL is easier than writing the code directly in the console.
I'm now usually relying on codepen or the web maker chrome plugin as a replacement for babel REPL. But having an option to import any npm package would be really nice. 🙂

[2017-10-20 13:56] ishankbahl commented on #1418
I would like to work on this one. Is any component library or package to be used for this component?

[2017-10-20 18:38] #1365 closed

[2017-10-21 13:49] existentialism commented on #1418
@ishankbahl thanks for offering, it looks like @zsoltime has put a PR up! would you like to help review it?

[2017-10-24 05:36] rajzshkr opened #1431 "List all contributors in Team page"

[2017-10-24 13:50] babel-bot opened #1432 "Try it out doesn't respect presets from URI"
Original issue submitted by @xixixao in https://github.com/babel/babel/issues/6545

Go to https://babeljs.io, click on Try it out, check react under Presets, reload the page, the preset is gone. Hence, the link to babel from https://reactjs.org/docs/jsx-in-depth.html is broken and cannot be fixed.

[2017-10-24 14:53] rajzshkr commented on #1432
I'll pick this issue.

[2017-10-25 12:29] rajzshkr commented on #1422
it works for me too.

[2017-10-25 14:04] #1418 closed

[2017-10-25 23:14] existentialism opened #1439 "Add date field video data"
Figure it's easier for us to sort when we generate the page than asking contribs to maintain order in the data.

[2017-10-26 02:31] rajzshkr commented on #1402
I can pick this.

[2017-10-26 04:39] joosebox commented on #1422
Not sure if this is related, but I clicked "Try" on the JavaScript block of code in the "JSX and Flow" section of the homepage. Here's the [REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=true&presets=es2015%2Cstage-0%2Creact&code=export%20default%20React.createClass(%7B%0A%20%20getInitialState()%20%7B%0A%20%20%20%20return%20%7B%20num%3A%20this.getRandomNumber()%20%7D%3B%0A%20

[2017-10-26 04:42] existentialism commented on #1422
@joosebox thanks for the report! that issue (though unrelated) should now be fixed!

[2017-10-26 04:54] joosebox commented on #1422
@existentialism well that was fast! awesome! :)

mind letting me know what the problem was? curiosity is getting the best of me. thanks in advance!

[2017-10-26 04:54] existentialism commented on #1422
@joosebox landed https://github.com/babel/website/pull/1434, which fixed a bug caused by a recent PR!

[2017-10-26 05:54] rajzshkr commented on #1402
has PR #1441

[2017-10-26 09:05] xtuc commented on #1432
Thanks @rajzshkr. The options in the link are hardcoded for every code snippet.

I don't know what's the best solution here. We could add a list of the presets/plugins in every snippets but it's going to be very tedious to maintain.

[2017-10-27 07:00] zsoltime commented on #1439
That's why I asked in my [PR](https://github.com/babel/website/pull/1427#issue-267319491) if we need a year field; I should have been more clear on this. :)

Anyway, I'm happy to work on this. We only need to add the year and not month, I think?

[2017-10-27 11:18] rajzshkr commented on #1432
Do you mean the options in the URL?

[2017-10-27 14:12] bvaughn commented on #1402
I have concerns about this proposed change, as mentioned [in this comment](https://github.com/babel/website/pull/1441/#discussion_r147421106).

[2017-10-27 14:24] existentialism commented on #1432
@xtuc not sure what you mean? this is about a bug introduced that wasn't properly mapping the presets in a URL to enable the correct one in REPL state. See https://github.com/babel/website/pull/1434 for ref!

[2017-10-27 14:27] bvaughn commented on #1423
Sorry for the inconvenience!

One of the goals of the rewritten REPL was to be as fast and light weight as possible for users with slow connections. Pulling in all of lodash is not ideal from that perspective.

That being said, #858 should address this issue. I don't think any Lodash specific action needs to be taken.

[2017-10-28 12:54] hzoo opened #1443 "Link each page to a label on github?"
Ref https://twitter.com/avanslaars/status/923906843704987649

![image](https://user-images.githubusercontent.com/588473/32134572-8908c7c6-bbbd-11e7-8118-7f9fee482518.png)

I don't want to describe a particular solution, but I was thinking that each page could be linked to a label of open issues to look through? We already have the `package: babel-core` field on a lot of doc pages that we could use

[2017-10-28 17:17] #1439 closed

[2017-10-29 11:17] xtuc opened #1444 "[team] missing V8 collabs"
We are happy to have a few V8 members as Babel collaborators:
- https://github.com/fhinkel
- https://github.com/gsathya
- https://github.com/bmeurer

I think we would be great to add a special group for the V8 team on our [team page on the website](https://babeljs.io/team).

[2017-10-29 11:51] azz commented on #1444
Should `@gsathya` be under V8 or TC39?

[2017-10-29 11:52] xtuc commented on #1444
that a good question.

Let's ask @gsathya :)

[2017-10-29 12:05] xtuc commented on #1432
Sorry if I wasn't clear. The preset are [hardcoded here](https://github.com/babel/website/blob/dc9a0c2da58df48889663bcc3276f9497cef05c6/scripts/open-in-repl.js#L6). How could we determine which presets/plugins are needed for the current code snippet?

[2017-10-29 12:26] azz commented on #1444
@littledan and @mathiasbynens, too :P

[2017-10-29 12:31] xtuc commented on #1444
Yes, that's right. I not sure what we should do here.

[2017-10-29 22:11] xixixao opened #1446 "`evaluate` doesn't work"
Go to https://babeljs.io/repl in Chrome.
Click on `evaluate`.

Nothing happens. The checkbox is not toggled to checked and it has no effect.

[2017-10-30 09:59] xtuc commented on #1446
Interesting, same here and with minify.

[2017-10-30 10:18] littledan commented on #1444
I'm happy to stay as TC39.

[2017-10-30 10:30] xtuc commented on #1444
@azz found a better solution. We can now assign multiple teams to one person.

[2017-10-30 15:06] #1446 closed

[2017-10-30 22:47] #1444 closed

[2017-10-31 14:00] rajzshkr commented on #1392
I'll work on this.

[2017-11-02 08:29] jon-a-nygaard opened #1452 "Babelify missing install of babel-core"
1. Go to https://babeljs.io/docs/setup/
2. Choose Browserify

Under the section "Installation" it says:
[code]
While I believe it should be as in https://github.com/babel/babelify#installation
where it says the following:
[code]

[2017-11-03 22:27] hzoo opened #1454 "Add an explanier for certain output"
example: `(0, _pirates.addHook)(...)` - we want to call with the right context

https://stackoverflow.com/questions/32275135/why-does-babel-rewrite-imported-function-call-to-0-fn, etc

[2017-11-05 11:51] j-f1 commented on #1251
Any update on this? I want to integrate the Babel docs into [DevDocs](https://devdocs.io), but I can’t do that without a license.

[2017-11-05 12:12] azz commented on #1251
@hzoo Should it be MIT or ISC? (package.json actually says ISC)

[2017-11-07 18:45] hzoo opened #1457 "Updates to the team page"
https://babeljs.io/team

I think we continue to improve on this page, and take from some things from [vue](https://vuejs.org/v2/guide/team.html).

We don't have translated docs yet (we should figure that out too), and also versioned docs 😛
but I do like the links to location/language?

aside: I would like to add a blurb from everyone who wants to say something - like how they got involved, etc

[2017-11-07 19:07] diogofcunha commented on #1443
I'm fancy about having a look into this.

What will we want to achieve in the end of this? For what I can understand 2 routes can be taken in here depending on the community ideas:

1. Simply always show the link to a certain label using the existing package field as proposed, even when there are no issues at all assigned to that label.

2. Hook up to github API, get all the issues, store them as

[2017-11-09 16:07] rajzshkr commented on #1443
This seems to be easy to implement. We can have a property in the layout and map the property with the Github issue.

I don't think we can implement this, because we've API rate limiting so it will be stable all time.

@xtuc @existentialism Your thoughts?

[2017-11-14 15:49] #1422 closed

[2017-12-01 18:42] andy-ms commented on #1378
I'm getting this error too:
**package.json**
[code]

**a.js**
[code]

[code]

[2017-12-05 13:56] BitYog commented on #1452
@loganfsmyth @jon-a-nygaard It can be done, but the HTML element for this imports from tools/items.md. I can't even see this folder in docs/. Where can I find this folder?

[2017-12-05 14:38] existentialism commented on #1452
@BitYog this already has a PR open for it, check out https://github.com/babel/website/pull/1455/files!

[2017-12-05 14:41] BitYog commented on #1452
That's alright. Thanks @existentialism

[2017-12-06 14:47] xtuc commented on #858
An idea, we can use [bundle.run](https://bundle.run) for that. For example if you require `https://bundle.run/babel-plugin-tailcall-optimization@1.0.11` it provides a `babelPluginTailcallOptimization` variable containing the plugin, we can then just call the entrypoint with babel-types and register it in babel-standalone.

[2017-12-08 10:25] danez opened #1477 "Document missing babel 7 breaking changes"
This is just a list of things i run into when upgrading to babel 7 that are not yet documented:

- [ ] The config key `babelrc: false/true` can now only be used when using the node-api or everything wrapping the node api like webpack options for babel-loader. It cannot be used in presets or babelrc files.
- [x] ~~preset-env does not transform `import "core-js";` anymore when using `builtIns: "entr

[2017-12-08 16:46] hzoo commented on #1457
Also add @angus-c and @jdan as part of this

[2017-12-12 15:07] nguyenj opened #1481 "Github link on plugin pages are broken"
![class properties transform babel 2017-12-12 07-04-29](https://user-images.githubusercontent.com/1127677/33891426-c26b4898-df0a-11e7-8f76-cbb08bbbfd87.png)

It's currently located here,
[https://github.com/babel/babel/tree/master/packages/babel-plugin-**proposal**-class-properties](https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-class-properties),
**not here**,
[https://

[2017-12-14 11:11] hkrutzer opened #1484 "transform-remove-console docs inconsistent with published package"
https://babeljs.io/docs/plugins/transform-remove-console/ mentions plugin options: `{ "exclude": [ "error", "warn"] }`, but these are not actually usable because the published package, https://www.npmjs.com/package/babel-plugin-transform-remove-console, does not yet contain these options. Following the steps to install the plugin on https://babeljs.io/docs/plugins/transform-remove-console/ and add

[2017-12-15 01:41] hzoo opened #1485 "Switch to Docusaurus"
EDIT: https://github.com/babel/website/pull/1521

https://twitter.com/fbOpenSource/status/941370631357997056

Docusaurus was released: https://docusaurus.io/blog/2017/12/14/introducing-docusaurus.html

Used on a few FB projects like prettier, jest, react-native, etc.

I mostly am in favor because other projects are using that have transitioned to it easily (doesn't seem hard since it's markdown bu

[2017-12-15 04:22] JoelMarcey commented on #1485
@hzoo Hi. I am a member of the team that helped create Docusaurus. Definitely let us know if you have any questions. We tried to keep the initial launch simple in terms of format support.

- markdown (which gets generated to HTML)
- static assets (CSS, images, html)

We are looking at other support moving forward though.

[2017-12-15 21:59] KyleAMathews commented on #1485
Happy to answer questions about Gatsby as well + help with transition as well if that's the decision!

[2017-12-15 23:10] oli22wen opened #1486 "olivier coenraets"
Historique

[2017-12-15 23:25] nicolo-ribaudo commented on #1486
Hi Olivier, it looks like this issue was opened by accident?
If you want to report a bug, please open a new issue with a complete explanation

[2017-12-15 23:25] #1486 closed

[2017-12-20 23:21] atilkan commented on #279
@thejameskyle People don't know the options to add.

[2017-12-28 11:54] maaz93 commented on #1485
Just took a very quick look at Docusaurus. I think it'd be a fun experience to give it a spin using the Babel docs.

@hzoo can I give it a shot? If yes, anything specific you'd like me to check while attempting the migration?

[2017-12-28 12:14] yavorsky opened #1497 "include/exclude preset-env option for the REPL"
https://github.com/babel/website/pull/1415 in progress, which is actually aimed at extending preset-env options.
There are many features that still weren't implemented, and one of them is include/exclude plugins.

Also, REPL is not ar rubber and we need to keep just most useful of features, so do we need an include/exclude preset options?
We could have something like `AccordionTab` with already re

[2017-12-28 20:27] hzoo commented on #1485
Nothing in particular I guess we just need to check the REPL still can work, etc. I'm ok if we have to change styles too if it's more structured. Maybe want to land in another branch so can iterate too

[2017-12-29 19:05] pgorbas opened #1499 "Translation does not run"
I needed to convert the following line of code that works everywhere (Chrome, Firefox, Opera, Edge) except Internet explorer; so I needed it to run everywhere including IE.

So this line:
```var foundState = $scope.States.find(o => o.Abbreviation === uspsStateCode);```

was converted to
[code]
which runs NOWHERE.

P.S.  I see no install instructions for Visual Studio.  Running in the Browser it is

[2017-12-29 21:38] nicolo-ribaudo commented on #1499
Why it doesn't run? Which error does it throw? It looks correct.

[2017-12-30 05:21] loganfsmyth commented on #1499
That would throw if you aren't loading `babel-polyfill` since `.find` is a prototype method, and the default transforms only cover syntactic additions to the language. I'm not sure what you mean by "NOWHERE", since that could will absolutely run anywhere the original code does.

[2018-01-02 18:54] nicolo-ribaudo opened #1502 "Add `transform-runtime` option to the repl"

[2018-01-02 23:25] Andarist commented on #1502
`external-helpers` would be a gr8 addition to

[2018-01-02 23:27] nicolo-ribaudo commented on #1502
Note: that probably these options would be only useful for Babel developers, not for users.

[2018-01-09 04:43] Jasakontraktor opened #1506 "Jasa Pengaspalan jalan"
Kontraktor jalan

[2018-01-09 04:46] #1506 closed

[2018-01-09 10:44] xtuc commented on #1506
Could you please open an issue in English?

[2018-01-12 18:29] johan commented on #279
Example of what the `.babelrc` page doesn't describe: is it possible to set config options of a babel plugin from `.babelrc`? If so, how?

[2018-01-13 15:34] nicolo-ribaudo opened #1512 "Note about piping files to babel"
We should add a note to http://babeljs.io/docs/usage/cli/#babel-piping-files which explains that when Babel doesn't know the filename it doesn't load the `.babelrc` file.

[2018-01-13 15:35] QC-L commented on #1485
I think switch is necessary. I'm the maintainer of [babeljs.cn](https://babeljs.cn/).

[2018-01-13 16:44] benschac opened #1513 "Typo in Template String Docs"
Unless I'm missing something it looks like the example on https://babeljs.io/learn-es2015/

[code]

is missing a closing backtick.

[2018-01-13 18:44] nicolo-ribaudo commented on #1513
It is after `${bar}}` 😛

[2018-01-13 19:07] xtuc commented on #1485
@QC-L Ideally we should have a way to translate it easily in this repo (like a `en` and `cn` folder).

[2018-01-13 19:10] hzoo commented on #1485
We'll I'd be happy to see a PR for it, for sure it's necessary ^ we really need versioning + translation as mentioned

[2018-01-14 01:29] QC-L commented on #1485
I think we can refer to the practice of several sites. The first way, like [nodejs.org](https://github.com/nodejs/nodejs.org/tree/master/locale). The second way, like [vuejs.org](https://github.com/vuejs?utf8=%E2%9C%93&q=vuejs.org&type=&language=).

[2018-01-20 17:34] existentialism opened #1516 "REPL: default to preset-env that matches babel version"
If I load the repl with the following (no presets enabled, babel@7.0.0-beta.38):
http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEBCYCMCmJoG8C-Q&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=true&lineWrap=true&presets=&prettier=false&targets=&version=7.0.0-beta.38

And then click preset-env, it loads preset-e

[2018-01-20 17:40] #1513 closed

[2018-01-23 17:01] hzoo commented on #1381
Started in https://github.com/babel/website/pull/1429, needs descriptions but it's done

[2018-01-23 17:01] #1381 closed

[2018-01-23 17:02] hzoo commented on #1378
This should be fixed now?

[2018-01-23 17:02] #1378 closed

[2018-01-23 17:27] hzoo commented on #1499
This is unrelated to the Babel website.

The arrow function transform is correct and most likely the error is about using `.find` like mentioned ^.

[2018-01-23 17:27] #1499 closed

[2018-01-23 18:32] #1251 closed

[2018-01-23 18:48] hzoo commented on #1251
Looks like we just didn't add it earlier, but it's MIT ^

[2018-01-23 22:21] hzoo commented on #858
https://github.com/babel/website/pull/1518 by @xtuc is pretty related to this

[2018-01-24 18:43] Daniel15 commented on #1485
Crowdin can do that (although the translations are stored on Crowdin, not in the repo). We use Crowdin for Yarn.

[2018-01-24 18:47] Daniel15 commented on #1485
Now that the site is on Netlify, we have much more flexibility compared to if we were still using Github Pages. Go for it 😄

The Netlify build runs `make bootstrap && make build`, so any site builder should work fine as long as you add any required build steps to the `build` section of the `Makefile`. Note that it publishes the `_site` directory. If you want to play around with different configura

[2018-01-24 18:48] hzoo commented on #1485
I was going to switch us to docusaurus which uses crowdin as well

[2018-01-24 18:48] Daniel15 commented on #135
We use Crowdin for the Yarn site. Works well.

[2018-01-25 01:17] QC-L commented on #1485
How to manage the translation using crowdin? Crowdin translation should be submitted by anyone, how to ensure quality? like this [babeljs.cn](https://github.com/docschina/babeljs.io)

[2018-01-25 01:23] Daniel15 commented on #1485
@QC-L Crowdin has an approval process, and only approved translations would appear on the site.

[2018-01-25 01:37] QC-L commented on #1485
@Daniel15 Thanks, I'll translate it in Chinese.

[2018-01-25 19:50] hzoo opened #1522 "New Site: Videos page"
Part of https://github.com/babel/website/pull/1521

We need to port the [videos](https://babeljs.io/docs/community/videos/) page in the new site since the old one used jekyll (`{% for category in site.data.videos %}`) and bootstrap css

This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

- [ ]  we need to basically convert the [videos](

[2018-01-25 20:28] hzoo opened #1523 "New Site: Team page"
Basically the same idea as in https://github.com/babel/website/issues/1522

We need to port the [team](https://babeljs.io/team) page in the new site since the old one used jekyll (`{% for category in site.data.team %}`) and bootstrap css

This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

- [ ]  we need to basically convert the [team](

[2018-01-26 01:55] abiduzz420 commented on #1523
Hi @hzoo This is a wonderful opportunity for contribution to babel ecosystem. I would like to take up this issue. Right now, just figuring out different things in the new branch Docusaurus.

[2018-01-26 02:40] QC-L commented on #1522
@hzoo Hi,  I would like to take up this issue, will be submitted as soon as possible.

[2018-01-26 04:29] hzoo commented on #1042
This will be done in https://github.com/babel/website/issues/1485 but will iterate

[2018-01-26 04:29] #1042 closed

[2018-01-26 04:30] hzoo commented on #1248
Might be covered in https://github.com/babel/website/issues/1485 when we have versions and we create a new version on release?

[2018-01-26 04:31] hzoo commented on #1261
Will by done by https://github.com/babel/website/pull/1521

[2018-01-26 04:31] #1261 closed

[2018-01-26 04:33] hzoo commented on #1382
Was thinking we should just remove or move to github comments instead, will need to reimplement in https://github.com/babel/website/pull/1521 so closing for now

[2018-01-26 04:33] #1382 closed

[2018-01-26 04:34] hzoo commented on #1481
This is a result of master being on v7 where we renamed some packages, will be fixed once we land https://github.com/babel/website/pull/1521 and more

[2018-01-26 04:34] #1481 closed

[2018-01-26 04:35] hzoo commented on #1484
Same as issue as others - our docs are on v6 while v7 is master - showing the latest version might be just as confusing but we are working on versioned docs via https://github.com/babel/website/pull/1521

[2018-01-26 04:35] #1484 closed

[2018-01-26 04:35] hzoo commented on #1359
don't think this is as big a deal anymore

[2018-01-26 04:35] #1359 closed

[2018-01-26 15:38] hzoo opened #1525 "New Site: REPL page"
Part of https://github.com/babel/website/pull/1521

TL;DR is that we need to load the REPL page in docusaurus somehow.
Now since the repl is just a react component, it seemed like we could just add it to `website/pages/en` but because the current implementation using `codemirror` uses browser specific code like `navigator` etc it won't work when trying to render via docusarus on the server side.

[2018-01-26 16:37] nicolo-ribaudo commented on #1525
I'd like to work on this (it would be my first PR to the website I think)

[2018-01-26 16:45] hzoo commented on #1525
Ooh ok, let me know if you need context on the repl still - or just message in our slack

[2018-01-26 17:00] hzoo opened #1526 "New Site: 404 page"
Part of https://github.com/babel/website/pull/1521

This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

Might be fun to make it show the ascii guy fieri or something but feel free to just port https://github.com/babel/website/blob/master/404.html for now and we can move forward

[2018-01-26 17:19] hzoo opened #1527 "New Site: Setup/Tools page"
Basically the same idea as in https://github.com/babel/website/issues/1522

We need to port the [setup](https://babeljs.io/docs/setup) page in the new site since the old one used jekyll (`{% for category in site.data.tools %}`) and bootstrap css

This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

We can probably just redo how this work

[2018-01-26 19:52] GregBorrelly commented on #1526
Hello, I would like to take over this issue.

[2018-01-26 21:12] hzoo opened #1528 "New Site: Users page"
Looks like the styles are kind of weird, so this task is to fix those to be similar to the current version. Free free to make other changes if it seems more suitable though.

This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

- Again check `website/pages/en/users.js` and then modify the styles in static/css/users.css (make a new file)?

[2018-01-27 03:20] ajaymathur commented on #1528
cool, can I please do it 🙂

[2018-01-27 04:13] QC-L commented on #1527
Let me try, but I didn't think about how to design it. I realized it first.

[2018-01-27 22:46] hzoo commented on #1522
Via https://github.com/babel/website/pull/1524

[2018-01-27 22:46] #1522 closed

[2018-01-28 03:41] SavePointSam opened #1531 "New Site: Code Blocks"
The code blocks provided by Docusaurus with the help of Highlightjs don't yet match the stylings of the old site. They need the following to match the old site:

- [x] port of Tomorrow theme
- [x] header added atop the block
- [x] language shown in header
- [ ] 'Copy' button in header
- [ ] 'Try' button in header

Updates should be PR'd into the main, new website branch #1521.

[2018-01-28 03:44] SavePointSam commented on #1531
With a bit of trickery, I was able to add the header back to the code block and added Titles for all the previously supported languages of the old site.

However, adding the Copy and Try button's back will be somewhat tricky. Currently the page is being rendered by `Docusaurus/lib/core/Remarkable.js`. We will need to find a way to create a custom header to append to this component in order to have

[2018-01-28 15:17] QC-L commented on #1527
@hzoo How do you feel like that?
![](http://oypz34fc0.bkt.clouddn.com/babel-setup.png)

[2018-01-28 17:43] xtuc commented on #1527
@QC-L that looks good. I'm not sure about the yellow background on the buttons. Maybe could we change it to white?

[2018-01-29 01:04] QC-L commented on #1527
White is the original effect. How do we make some changes?

[2018-01-29 01:18] hzoo commented on #1527
I think it's all good now, we'll probably want to redo this in the future anyway (a lot of the packages aren't really updated or maintained by us either)

[2018-01-29 01:19] hzoo commented on #1525
Closed by https://github.com/babel/website/pull/1533

[2018-01-29 01:19] #1525 closed

[2018-01-29 01:23] hzoo commented on #1531
We don't have to do things the old way but I think having the buttons are nice

[2018-01-29 01:39] QC-L commented on #1527
@hzoo I found that docusaurus doesn't seem to support `onClick`

[2018-01-29 02:36] SavePointSam commented on #1531
I really like the buttons as well. I'm gonna look into possibly making it a native Docusaurus solution as we don't have any control of the DOM.

[2018-01-29 11:01] xtuc commented on #1527
Ok, fine to me

Outch, we could maybe ask @JoelMarcey

[2018-01-29 13:51] QC-L commented on #1527
Hey, @JoelMarcey. I try to add the `onClick` event in the `<a>` tag, but didn't take effect. Is Docusaurus not supported? I searched through all the documents and found nothing.

[2018-01-29 14:19] hzoo commented on #1523
Closed by https://github.com/babel/website/pull/1530

[2018-01-29 14:19] #1523 closed

[2018-01-29 14:20] hzoo commented on #1528
Done by https://github.com/babel/website/pull/1529

[2018-01-29 14:20] #1528 closed

[2018-01-29 15:57] hzoo opened #1535 "New Site: redirects"
We need to redirect for any changes in the url structure of the site

We already have this file: https://github.com/babel/website/blob/master/_redirects

So we just need to update it after looking at https://www.netlify.com/docs/redirects/

- so things like if we rename https://babeljs.io/learn-es2015/ to https://babeljs.io/docs/env/learn.html it should be `/learn-es2015 /docs/en/learn.html`
- the

[2018-01-29 16:03] hzoo opened #1536 "New Site: fixed sidebar"
Would like the sidebar for the new docs to be fixed like in https://reactjs.org/docs/hello-world.html and vue https://vuejs.org/v2/guide/

Not a blocker to switch but something we should do later?

[2018-01-29 16:50] hzoo opened #1538 "New site: Main Page"
I guess we should just port what we currently have?

Similar to https://github.com/babel/website/issues/1522 and https://github.com/babel/website/issues/1523

---
This would be targeting the [`docusaurus`](https://github.com/babel/website/tree/docusaurus) branch, not master.

- [x] Convert https://github.com/babel/website/blob/master/index.md into js and put it into https://github.com/babel/websit

[2018-01-29 19:52] hzoo commented on #1538
Ok I just removed the old text contents and moved them into a new index/about page.

[2018-01-29 20:17] JoelMarcey commented on #1527
@QC-L Hi! We definitely did not purposely avoid support for `onclick`. Let me look into this. Sorry.

[2018-01-29 20:53] ajaymathur commented on #1535
can I take this up?

[2018-01-29 21:01] hzoo commented on #1535
Yeah although not sure you know where to look for the old urls - if so it should be really easy with a glob type thing

[2018-01-29 21:32] ajaymathur commented on #1535
From your comment- I thought old urls are at https://github.com/babel/website/blob/master/_redirects

I can update by looking at that?

[2018-01-29 21:46] nicolo-ribaudo commented on #1535
https://github.com/facebook/Docusaurus/issues/248 might make this easier.

[2018-01-29 22:52] hzoo commented on #1526
@GregBorrelly still planning on tackling this?

[2018-01-29 23:42] GregBorrelly commented on #1526
@hzoo pushing a PR request tonight. Got caught up with work on the weekend.

[2018-01-30 00:17] GregBorrelly commented on #1526
@hzoo so far I created the 404.js page with the following code in it
`const React = require('react');

const ErrorPage = props => {

    return (
        <div className="container">
            <div className="row">
                <div className="col-md-8 col-md-push-2">
                    <script type="text/javascript">
                        var GOOG_FIXURL_LANG = 'en';

[2018-01-30 01:11] GregBorrelly commented on #1526
@hzoo  yes I'm.  I created a 404.js page, but I'm having trouble pushing.  Should I fork the repo before creating a new branch?  I apologize for the noob questions, first big open source project I contribute too.

[2018-01-30 01:22] QC-L commented on #1527
@JoelMarcey THX. Sorry for the inconvenience.

[2018-01-30 01:24] GregBorrelly commented on #1526
https://github.com/babel/website/pull/1540

[2018-01-30 01:42] JoelMarcey commented on #1527
@QC-L Hi. No problem. Do you have a PR open or a code snippet of how and where you are trying to use `onclick`?

[2018-01-30 03:10] QC-L commented on #1527
@JoelMarcey You can see #1541 .
[code]
No response.

[2018-01-30 17:35] JoelMarcey commented on #1527
@QC-L I was talking it over with another core Docusaurus team member, @rickyvetter, and he reminded me that `onclick` can't work out of the box since Docusaurus sites are server rendered.

Your best option here is probably just including a script tag in vanilla JavaScript that handles your click events (there are some other options, but they might not be as amenable).

@rickyvetter has a Docusauru

[2018-01-30 20:43] hzoo commented on #1485
Alright I'm just going to deploy for 3 site urls (new.babeljs.io, old.babeljs.io, and babeljs.io).

Going to merge `docusaurus` into `master` for the new site and it will deploy to `new.babeljs.io`
`old-site` branch will be for backports if someone wants and it deploys to the current site `babeljs.io` and `old.babeljs.io` until we switch.

[2018-01-30 20:47] hzoo opened #1544 "New Site: Todos"
Ref https://github.com/babel/website/issues/1485, https://github.com/babel/website/pull/1521

Old site: branch is `old-site` and deployed to https://old.babeljs.io and https://babeljs.io
New site: branch is `master` and deployed to https://new.babeljs.io

- [x] Main docs: how do we render the readme's from each package in babel/babel as docs? We used to download the readme's from github and render

[2018-01-30 20:47] hzoo commented on #1485
Moving to https://github.com/babel/website/issues/1544

[2018-01-30 20:47] #1485 closed

[2018-01-31 07:00] QC-L commented on #1527
@JoelMarcey THX! Let me try.

[2018-01-31 16:36] QC-L commented on #1527
@hzoo It's finished tomorrow morning. It's a little bit worse.

[2018-01-31 16:50] demurgos opened #1547 "Gulp setup is out-of-date"
[Reported by @NiavlysB](https://github.com/babel/gulp-babel/issues/124#issuecomment-361962491).

The installation step is missing the peer dependency on `babel-core`. [See npm page](https://www.npmjs.com/package/gulp-babel).

[2018-01-31 17:15] hzoo commented on #1547
We're in the process of remaking the website via https://github.com/babel/website/issues/1485 and https://github.com/babel/website/pull/1521 due to this issue and others

[2018-01-31 17:27] hzoo commented on #1535
Yeah we just need to update https://github.com/babel/website/blob/master/_redirects is all. I just mean we need to make sure it works for all the previouos urls we know about (hard to know but we can add as we learn about them too)

[2018-02-01 19:41] hzoo commented on #1527
K fixed by https://github.com/babel/website/pull/1541

- should remove jquery and use dom methods
- figure out what's the deal with translation
- potentially redo the setup if ^ doesn't work well

[2018-02-01 19:41] hzoo commented on #1527
K fixed by https://github.com/babel/website/pull/1541

- should remove jquery and use dom methods
- figure out what's the deal with translation
- potentially redo the setup if ^ doesn't work well

[2018-02-01 19:41] #1527 closed

[2018-02-01 23:06] hzoo commented on #1544
Some of the v6 readmes are old (no content and they ended up on the site instead) so we need to update, stuff like

external-helpers has a doc
preset-x has docs
syntax-only
constructor call
decorators
modules
regenerator
react-jsx
polyfill
cli

[2018-02-02 01:29] maaz93 opened #1549 "[new site] Code snippets not scrollable on mobile"
The snippets are cut off on mobile. And I'm not able to scroll them.

![smartselectimage_2018-02-02-06-55-39](https://user-images.githubusercontent.com/6594255/35712070-4a906146-07e6-11e8-9c5c-10db7764e511.png)

I'd like to fix this if that's ok. 😄

[2018-02-02 11:14] oli22wen opened #1550 "olivier coenraets"

[2018-02-02 11:15] xtuc commented on #1550
I'm closing your issue, it looks like an error.

[2018-02-02 11:15] #1550 closed

[2018-02-02 13:51] #1526 closed

[2018-02-02 14:14] hzoo commented on #1549
Would this be a docusaurus issue or ours? fine with me!

[2018-02-02 23:09] JoelMarcey commented on #1549
I noticed on some other sites that use Docusaurus, that code snippets are wrapped or can be scrolled using touch.

[2018-02-03 06:38] azz commented on #1527
@JoelMarcey Is there any chance this will eventually be supported by  docasaurus? https://github.com/facebook/Docusaurus/issues/292#issuecomment-357222593

[2018-02-03 15:13] hzoo opened #1554 "New Site: comments on pages?"
I think https://github.com/orta/gh-commentify would be great to use instead of disqus or anything else. Also I don't ever go on our discourse atm so not sure what we should do about that. cc @orta

And maybe we need a blurb about joining slack/twitter instead of just a link.

[2018-02-03 16:16] #1549 closed

[2018-02-03 16:18] hzoo commented on #1423
Ok closing

[2018-02-03 16:18] #1423 closed

[2018-02-03 17:45] maaz93 opened #1556 "Some links cutoff in the header on mobile"
This could be a Docusaurus bug or intentional? Not all the links in the header are visible on mobile (Notice the `GitHub` link is cutoff in the mobile screenshot).

## Mobile
![smartselectimage_2018-02-03-23-03-21](https://user-images.githubusercontent.com/6594255/35769869-e270607c-0937-11e8-8ecd-0823ac4db2ef.png)

## Desktop
![smartselectimage_2018-02-03-23-10-11](https://user-images.githubuserco

[2018-02-04 09:56] xtuc commented on #1554
I don't go on disqus either, and to be honest I don't think I'll use another solution.

I would be great to have them on Slack. We could redirect them to the Slack inviter.

[2018-02-04 12:24] hzoo commented on #1554
I was thinking ^ would work out ok because at least it would be on github.

[2018-02-04 14:02] orta commented on #1554
Yeah, I try to avoid using disqus, comments end up silo'd away. You get "real" admin tools  set up with default flow etc, the tricky bit is keeping the pages mapped to an issue. This is easy for our blog, where you opt in to having comments on a post, but trickier on a big OSS project.

You might get more value from https://utteranc.es - which does a lot of that kind of work for you also

[2018-02-04 15:40] QC-L commented on #1527
@hzoo I'm trying to fix them.

[2018-02-04 18:04] xtuc commented on #1554
I agree, GitHub would be great for that.

I'm wondering if that would work with GitHub discussions? I'm not sure they are public, right?

[2018-02-04 20:09] orta commented on #1554
They're not, they wouldn't be useful here at all I'm afraid

[2018-02-05 04:39] JoelMarcey commented on #1527
@azz Hi. Yes. This is something we are looking at supporting. I would really like if we could design it  in the constructs of our current build system. I //think// we can take some clues from some of the customizations that were done with React Native and maybe even Prettier.

[2018-02-05 14:16] j-f1 commented on #647
[DevDocs](https://devdocs.io) just added [a Babel section](https://devdocs.io/babel/) scraped from `https://babeljs.io/docs/*`. You can go to [devdocs.io/offline](https://devdocs.io/offline/) to save it for offline access.

[2018-02-06 02:04] JoelMarcey commented on #1556
@maaz93 Hi. Are you still seeing this behavior? When I look at the site, I think I see all the links on mobile now, including the `GitHub` link which I didn't see in your pasted image above.

[2018-02-06 04:20] maaz93 commented on #1556
@JoelMarcey I still see this on my mobile. The particular screenshot in the issue was taken on my mobile itself. Just to experiment and be sure that it's not because of some CSS on the babel site, I added a new `li` on the Docusaurus site. It's cut off even there

![cut_off](https://user-images.githubusercontent.com/6594255/35841621-f8f6324e-0b22-11e8-9913-2e37deee2581.PNG)

[2018-02-07 08:14] andrzej-aa opened #1560 "Try it out: CodeMirror is not defined"
I'm not sure how does it work but it looks like CodeMirror@5.30 on unpkg.com was removed and now CodeMirror@5.34 is available. Because of that the Try it out function doesn't work.

[2018-02-07 12:01] xtuc commented on #1560
Could you try to access https://unpkg.com/codemirror@5.30.0/lib/codemirror.js? It's working on my side.

[2018-02-07 12:03] andrzej-aa commented on #1560
I always get `Cannot find module "/lib/codemirror.js" in package codemirror@5.30.0`. Tried in different browsers, as well in incognito mode.

[2018-02-07 12:13] xtuc commented on #1560
Might be on unpkg's side then, cc @mjackson :innocent: ?

[2018-02-07 14:55] mjackson commented on #1560
@andrzej-aa Where are you? It might help to understand why you weren't able to load the file but we are.

[2018-02-07 15:05] andrzej-aa commented on #1560
Naha, Okinawa, Japan. I'm traveling around Japan for a few months and it happened a few times that CodeMirror couldn't be loaded on the Try it out page. But usually it works.

I checked the link on my phone. Surprisingly CodeMirror@5.30 works when I'm using mobile data. The problem still occurs on my computer.

[2018-02-07 18:10] mjackson commented on #1560
Sounds like there's a bad file in your ISP's cache. I've cleared the unpkg cache for https://unpkg.com/codemirror@5.30.0/lib/codemirror.js so hopefully that should clear it up.

[2018-02-08 07:36] andrzej-aa commented on #1560
Today I moved to a new location. My ISP also changed and https://unpkg.com/codemirror@5.30.0/lib/codemirror.js started working. But, now I get 404s on other resources like https://unpkg.com/codemirror@5.30.0/keymap/sublime.js so url https://babeljs.io/repl/ still doesn't work. This is how it looks in the resources panel: http://prntscr.com/ibqlaj

[2018-02-09 13:34] microbouji commented on #1538
Hi, I'd like to work on this.

[2018-02-10 01:54] JoelMarcey commented on #1556
@maaz93 Ah! I see what you are saying. When you say "Missing", you are meaning cutoff. Is that correct? So in the original post you made above, "GitHub" was probably there, just not visible because it was cutoff.

That is definitely a Docusaurus bug. Thanks!

[2018-02-10 03:54] maaz93 commented on #1556
@JoelMarcey yes! I should've used the word cutoff.

[2018-02-10 07:19] maaz93 opened #1563 "babel-polyfill links in Caveats landing on 404 page"
The 2 links which point to `babel-polyfill` on the [Caveats page](https://new.babeljs.io/docs/en/caveats.html) point to "https://new.babeljs.io/docs/en/babel-polyfill.md" rather than "https://new.babeljs.io/docs/en/babel-polyfill.html". This results in landing to 404 page when clicked.

[2018-02-10 21:34] JoelMarcey commented on #1544
Hey @hzoo -- just wanted to touch base and see if there is anything you need from the Docusaurus side that is blocking you? I know there has been a lot of issues and pull requests here around the website and I have been trying to keep track of most of them, but I may have missed something.

[2018-02-12 00:59] hzoo commented on #1544
hey @JoelMarcey, I think it's mostly the issues tagged with [new site](https://github.com/babel/website/labels/new%20site).

Not sure if there's any blockers but having a fixed sidebar would be nice.
For comments on pages I think we will just forego that.
Not sure how we are going to handle the try/copy functionality for any code snippets but I'm going with not blocking on that.
I need to make sur

[2018-02-12 13:14] hzoo commented on #1538
Mostly done in https://github.com/babel/website/pull/1564 so closing!

[2018-02-12 13:14] #1538 closed

[2018-02-12 17:27] khubo opened #1566 "confusing package name in docs"
https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7#babel-node

According to this link `babel-node` is suppose to be installed sepreate as its made a seprate package from babel-cli 7 ownwards. As there is already a package named babel-node which is not the required one documentation is kind of confusing here.

p.s :- love what you guys are doing 👍 . thanks for the awesome tool 💃

[2018-02-12 17:29] hzoo commented on #1566
Ah yeah we need to update all those docs. I might just move them out of the blog (we are using scoped packages now so it would be `@babel/node` to answer your question! 😄

[2018-02-12 17:40] khubo commented on #1566
@hzoo  omg, that was quick 😂 . You are a robot 🙆‍ . thank you 💃

[2018-02-12 17:50] hzoo commented on #1535
Closed by https://github.com/babel/website/pull/1567
Closes https://github.com/babel/website/pull/1561

[2018-02-12 17:50] #1535 closed

[2018-02-12 17:59] hzoo commented on #1563
Thanks for reporting.. I think it's because the filename is `polyfill` still hm

[2018-02-12 18:06] #1563 closed

[2018-02-12 18:12] hzoo opened #1568 "New Site: Todo before swap over"
- [x] Figure out the versioning (v6 and v7) https://github.com/babel/website/issues/1261
- [x] Actually write the v7 docs (a lot of work)
  - [x] Involves renames/rewrites of packages https://github.com/babel/website/pull/1575
  - [x] Update guides -> docs instead of blog post? https://github.com/babel/website/pull/1576
  - [x] general lookover
  - [ ] new docs https://github.com/babel/website/iss

[2018-02-12 18:13] hzoo opened #1569 "New Site: translations"
Figure out how to use translations in docusaurus

- setup
- convert to use translate in the "pages"

[2018-02-12 18:13] hzoo commented on #1544
Going to make a new issue to track stuff https://github.com/babel/website/issues/1568

[2018-02-12 18:13] #1544 closed

[2018-02-12 21:26] zanonnicola opened #1570 "Improve accessibility and color contrast"
I was previewing the new website on my phone and I noticed that the color contrast is quite low on the search form at the top. So I checked the whole front page with [Pa11y](https://github.com/pa11y/pa11y) and found out that there are quite a few errors in terms of accessibility.

The majority of them are quite easy to fix so it shouldn't take long to do that.

![Screenshot](https://user-images.gi

[2018-02-12 21:35] hzoo commented on #1570
Looks like @zanonnicola will try to tackle it this week ^

[2018-02-12 21:38] hzoo opened #1571 "New Site: link from old to new site"
I think we should also have a banner on the current/old site (branch `old-site`) to tell people we are working on the new one and to give feedback.

So add a link that points to `new.babeljs.io`

And when we switch and people get linked to old urls, they will know that we have more updated docs on the new site. (kind of like how webpack had a banner before from the github.io site to the new webpac

[2018-02-12 21:49] JoelMarcey commented on #1570
@zanonnicola TIL about [Pa11y](https://github.com/pa11y/pa11y). I can use it to check our Docusaurus main site and other sites as well. Thanks!

[2018-02-12 21:52] zanonnicola commented on #1570
Pa11y is great. I have that running on Travis as part of my build chain. Maybe once the main errors are fixed it can be added here as well.
Food for thought.

[2018-02-14 22:14] hzoo opened #1577 "Docs for breaking changes/new docs"
There's a lot of changes, too many to even think about so we should document more of them as we find/get reports.

- [ ] I think we need a new doc on config lookup https://github.com/babel/babel/pull/7358
- [ ] another one about how caching works: https://github.com/babel/babel/pull/6350
- [ ] updates to config files themselves (what kinds of files, what are the options, example configs) in the `b

[2018-02-18 18:24] hidace opened #1583 "Broken link to env preset page from the ES2015 preset page"
Noticed that [the link to the env preset](https://babeljs.io/docs/plugins/preset-es2015/) from the section titled **Basic Setup (with the CLI)** under 'Run it' goes to a [404 page](https://babeljs.io/docs/en/babel-preset-env) . I believe it should go to [here](https://babeljs.io/docs/plugins/preset-env/)

[2018-02-19 03:46] JoelMarcey commented on #1570
Just ran Pa11y on docusaurus.io 😮

We have, um, just a few errors 😛

Looks like there is some fixes to do.

Thanks for the pointer on this tool.

[2018-02-19 03:48] JoelMarcey commented on #1570
https://github.com/facebook/Docusaurus/issues/462

[2018-02-19 09:31] zanonnicola commented on #1570
No problem! Let me know if I can help in any way!

[2018-02-19 14:20] andrzej-aa commented on #1560
Currently [https version](https://babeljs.io/repl/) of the feature returns 404. Was it the case and you decided to turn it off? Right now the Try it out feature works only under http://babeljs.io/repl/ Or maybe it's because I'm in Taiwan?

[2018-02-19 14:34] xtuc commented on #1560
Works on my side (EU).

[2018-02-19 14:52] andrzej-aa commented on #1560
Okay, false alarm. It works again. Probably some long update in progress (?)

[2018-02-19 15:11] xtuc commented on #1560
Can we close this issue btw?

[2018-02-19 15:16] andrzej-aa commented on #1560
The problem occurred when I was in Japan. I'm going back there in a few weeks, but we can close it as for now. I think I can reopen it in case it happens again.

[2018-02-19 15:23] arjunrao87 opened #1585 "Link to flow plugins is broken"
The link to the transform-flow-strip-types at the top of the page https://babeljs.io/docs/plugins/preset-flow/ is broken and results in a 404

[2018-02-19 15:23] existentialism commented on #1560
@andrzej-aa thanks

[2018-02-19 15:23] #1560 closed

[2018-02-20 17:13] xtuc commented on #1583
Good catch. Do you mind sending us a PR?

[2018-02-21 05:42] Akiyamka commented on #1583
@hidace, thanks for the correct link! I found a similar problem is observed here too.
https://babeljs.io/docs/usage/api/#options have [broken links](https://babeljs.io/docs/en/plugins#presets) in presets and plugin.
`List of presets (a set of plugins) to load and use.`
`List of plugins to load and use.`

[2018-02-21 05:46] Akiyamka commented on #1583
Another [broken link](https://babeljs.io/docs/en/babel-preset-env) on [this page](https://babeljs.io/docs/plugins/preset-es2015/#top)
`This is deprecated. If you want to stay up to date, use the env preset`

[2018-02-23 10:01] malydok opened #1589 "stage-x articles broken links and confusion"
(Old docs) All of the stage-x articles contain duplicate sections with `This preset includes the following plugins` and `And all plugins from presets` link lists. The second area, beneath "stage gist", always contains broken links.
E.g. https://babeljs.io/docs/plugins/preset-stage-0/

The broken links consist of `docs/en/babel-preset-stage-x`, which seems to be the structure of the new docs, and m

[2018-03-01 11:52] thesimpledesigners opened #1592 "Page not found : https://babeljs.io/docs/en/babel-polyfill"
404
Page not found.
when trying to access the babel-polyfill page from the following doc :
https://babeljs.io/docs/usage/babel-register/

[2018-03-02 15:54] microbouji commented on #1531
I think docusaurus allows us to register custom remarkable plugins from siteConfig. So we could probably write a plugin if we wanted to enable doc authors to choose the buttons they want to show up for the code blocks directly from markdown as described above.

In the meantime I sent PR #1594  that adds the buttons with frontend javscript like in the old site. The 'Copy' button is added to all cod

[2018-03-02 16:38] clemtrek opened #1595 "Update links to this repo."
Several links on the website refer to the archived repository instead of this one.

[2018-03-02 17:35] xtuc commented on #1595
Thanks for the report, would you mind opening a PR to fix them?

[2018-03-03 09:51] clemtrek commented on #1595
I'll try

[2018-03-03 12:33] clemtrek commented on #1595
@xtuc, the error I found were on the old website.
Do I still need to open a PR

[2018-03-09 03:49] ashleytqy commented on #1592
Hi! I think the correct link is https://babeljs.io/docs/usage/polyfill/

Shall I make a PR to fix this broken link?

[2018-03-09 03:58] ashleytqy commented on #1583
This relates to https://github.com/babel/website/issues/1592 (another broken link)
I can help to update the broken links if it's not already been worked on :-)

[2018-03-09 06:43] xtuc commented on #1592
That would be great, thanks!

[2018-03-12 18:40] mAAdhaTTah opened #1601 "Remove putting babel-polyfill in webpack.config.js"
This is related to this comment: https://github.com/babel/babel/issues/7523#issuecomment-371554879

I was going to remove this recommendation from the website and replace it with a note saying not to do that if you're going to use `babel-preset-env`, but since you guys are mid-transition to Docusaurus, I'm wondering where I should make this change. It looks like the 6.x scripts are being pulled fr

[2018-03-12 20:43] existentialism commented on #1583
Should be fixed by https://github.com/babel/website/commit/cc0db1003319fbd4973bd6919fd22579936bc894

[2018-03-12 20:43] #1583 closed

[2018-03-12 20:43] existentialism commented on #1592
Should be fixed by https://github.com/babel/website/commit/cc0db1003319fbd4973bd6919fd22579936bc894

[2018-03-12 20:43] #1592 closed

[2018-03-12 20:43] hzoo commented on #1592
Sorry about that, it should work now!

I updated the old website (the current one) to use the new urls. Now it should redirect correctly. https://github.com/babel/website/commit/cc0db1003319fbd4973bd6919fd22579936bc894

[2018-03-12 21:44] existentialism commented on #1589
Should be fixed in 86d9b9bd5d6ad2c2942fd488053e2185cb874d42

[2018-03-12 21:44] #1589 closed

[2018-03-14 17:21] hzoo commented on #1595
If so, it would be to the `old-site` branch yeah

[2018-03-14 17:33] microbouji commented on #1556
#1603 should fix this too

[2018-03-14 17:59] #1556 closed

[2018-03-14 19:13] thesimpledesigners commented on #1592
Thanks

[2018-03-15 20:29] hzoo commented on #1477
- `sourceMapTarget` is removed from `@babel/core: https://github.com/babel/babel/pull/7500
- spec: throw if array rest/spread isn't iterable https://github.com/babel/babel/pull/7491
- `ast: false` is default in `@babel/core` https://github.com/babel/babel/pull/7436
- `sourceType` determines module/script https://github.com/babel/babel/pull/7417
- setters cannot have rest https://github.com/babel/b

[2018-03-21 18:16] babel-bot opened #1605 "Website - Please merge https://babeljs.io/docs/plugins/preset-env/ and https://babeljs.io/env"
Original issue submitted by @rajaraodv in https://github.com/babel/babel/issues/7611

Website - Please merge https://babeljs.io/docs/plugins/preset-env/ and https://babeljs.io/env
I think the latter is for upgrade from ES2015. But I think it would be useful to simply have a section in the /docs/plugins/preset-env/ so it's easier to find.

[2018-03-21 18:18] loganfsmyth commented on #1605
Maybe we can just crosslink them and make it clear on the upgrade page that it is specifically about upgrading?

[2018-03-21 18:53] hzoo commented on #1605
Are they not crosslinked? The whole point is that `/env` is a url for deprecated presets.

[2018-03-21 18:53] #1605 closed

[2018-03-22 02:04] jerryboy4luv opened #1606 "Promotion Approval"
We are a team of digital marketers and we have been given tasks to promote and market remarkable open source projects on social media. We find your project very remarkable and exceptional, and we would love to know if you want it to be promoted to several people in different parts of the world through social media.

We need your permission to promote this project by making a public post on any soc

[2018-03-22 02:33] #1606 closed

[2018-03-22 19:56] hzoo commented on #1531
I guess we can close this now? Even if we want it native

[2018-03-22 20:20] microbouji commented on #1531
Yep, all seems done here
On Thu, 22 Mar 2018 at 20:56, Henry Zhu <notifications@github.com> wrote:

[2018-03-22 20:50] #1531 closed

[2018-03-23 15:48] xtuc opened #1607 "Links in the blog sidebar are not working"
On http://babeljs.io/blog/ the links in the sidebar points to `#` and are not working.

[2018-03-23 16:10] hzoo commented on #1607
This is the current/old site so not as big a deal when we switch over but good to fix

[2018-03-23 16:12] xtuc commented on #1607
Yes good point, which means that it's probably there since ever?

[2018-03-23 16:12] #1607 closed

[2018-03-23 17:47] hzoo commented on #1536
@microbouji and we can do this now too?

[2018-03-23 17:51] microbouji commented on #1536
yeah, we can do this with css only from our side. I'll give it a try.

[2018-03-23 17:54] hzoo opened #1608 "Internal: remove makefile usage"
It's pretty basic use of Make now, should just make it npm scripts instead?

https://github.com/babel/website/blob/master/Makefile

[2018-03-26 14:27] #1536 closed

[2018-03-28 14:52] eventualbuddha opened #1610 ""Only official Plugins" checkbox is toggled when clicking in plugin name field in Safari"
![babel-website-bug](https://user-images.githubusercontent.com/1938/38036118-db4e0c94-325a-11e8-886a-98c5241add0f.gif)

### Steps to Reproduce

1. Go to the [repl](https://babeljs.io/repl/) in Safari on macOS.
2. Toggle open the "Plugins" section.
3. Click on the field with placeholder "Type the plugin name".

### Expected

The field should receive input focus.

### Actual

The field briefly recei

[2018-03-28 16:50] xtuc commented on #1610
That's a funny one! @Haroenv also had this bug https://github.com/babel/website/pull/1518#issuecomment-363089992.

Would you mind sending a PR?

[2018-03-28 20:08] djsneaks123 opened #1611 "Unexpected ID / Token on imports"
I have a stack overflow link were on my project i am using babel, but for some odd reason it does not like my imports and complains, i think i might have a issue with babel not working correctly.

link: https://stackoverflow.com/questions/48994051/babel-loader-unable-to-handle-imports-give-syntaxerror-unexpected-id-token

please delete this if this is not the correct for me to post this here.
Than

[2018-03-28 20:24] loganfsmyth commented on #1611
That doesn't appear to be a runtime error error but rather Chrome's debugger itself is trying to process the file for something and is getting an error while doing it. I don't know why they show the error to users to begin with, but I believe I heard that it has been fixed in Chrome Canary at least.

If your app isn't working, it is likely something unrelated to the error message in your screensho

[2018-03-28 20:24] #1611 closed

[2018-03-28 23:23] eventualbuddha commented on #1610
Yep, looks like @Haroenv pointed this out in the original PR. I don't have time at the moment to send a PR, and likely won't as this isn't a high priority issue for me. I just wanted to make sure it's documented.

[2018-03-29 07:50] Haroenv commented on #1610
My suspicion is that this comes from some id clashing or shared label, but didn't exactly find a workaround easily.

[2018-03-30 16:55] #1610 closed

[2018-03-30 20:26] hzoo opened #1614 "Issue with markdown headings"
http://new.babeljs.io/docs/en/next/v7-migration.html

![image](https://user-images.githubusercontent.com/588473/38152749-22c083d0-3437-11e8-8f86-25cb7f8acfec.png)

[2018-03-30 20:54] microbouji commented on #1614
I'll send a fix to docusaurus tomorrow.

[2018-03-30 20:59] hzoo commented on #1614
Yep all good whenever, just wanted to ping

[2018-04-03 21:25] djsneaks123 commented on #1611
@loganfsmyth  You are wrong. It has nothing to do with chrome's debugger, it is not loading the javascript file (when i step into it acts as if there is no file to go to). The same thing happens in IE. There probubly is an issue with my code, but im not sure what is causing it.

[2018-04-04 17:31] microbouji commented on #1614
@JoelMarcey thanks that will be nice to have in a release before switching over. I believe we also have some new v7 docs to write that will take some more time.

[2018-04-05 08:37] StabbarN commented on #1601
It's not that easy. What way to include/import polyfills depends on useBuiltin settting. See https://new.babeljs.io/docs/en/babel-preset-env.html#usebuiltins

`import 'babel-polyfill'` should probably never be used with babel 7. It's better to use `import "@babel/polyfill"` and `useBuiltIns: false`.

[2018-04-05 08:54] StabbarN commented on #1601
See also PR https://github.com/babel/website/pull/1520

[2018-04-06 20:56] existentialism opened #1619 "Setup translations"
Just some tracking/housekeeping.

Ref:
https://crowdin.com/
https://docusaurus.io/docs/en/translation.html

[2018-04-09 10:10] alexparish opened #1621 "Docs for Babel 7 breaking change to presets"
The guide on upgrading to Babel 7 (https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7) should state that babel presets now need to export a function rather than an object, along with the reasoning behind this change.

This will help ease the migration for people who author their own presets.

Currently the only clue that the API has changed is the following error:

"Module build failed: Error:

[2018-04-13 15:28] #1614 closed

[2018-04-13 22:37] Yilber commented on #1619
what's the name of the project on crowdin?

[2018-04-16 13:17] darkylmnx opened #1627 ""Try it out" not working on IE11"
On the website, the page "try it out" does not work on IE11

http://babeljs.io/repl/

![image](https://user-images.githubusercontent.com/1426357/38811463-d764ed94-4189-11e8-9cfc-d9c88e82cfc1.png)

[2018-04-16 13:47] xtuc commented on #1627
Yeah Promise is not available on IE11. We should probably use `babel-preset-env`, and more likely on the new website.

[2018-04-16 15:04] Yilber commented on #1619
I can't see the project because it is private. Here's my username on crowdin so one of you can add me Yilber_Mejia

[2018-04-16 15:12] JoelMarcey commented on #1619
@hzoo Let me know if you need help here. We turned on translations for docusaurus.io last week - but then had to turn it off because we found some [weird things with our Spanish translations](https://github.com/facebook/Docusaurus/issues/564). The CrowdIn folks have been quite responsive to questions.

[2018-04-16 20:38] hzoo commented on #1619
Oh it wasn't supposed to be private: https://crowdin.com/project/babeljs, but not sure how it all works yet. Applied for OSS tier since it's just a trial.

[2018-04-17 12:36] hzoo commented on #1627
Same issue as https://github.com/babel/babel/issues/7607 I believe, we aren't using transform runtime or we should add the polyfill

[2018-04-17 16:44] hzoo commented on #135
Moving to https://github.com/babel/website/issues/1619

[2018-04-17 16:44] #135 closed

[2018-04-17 16:48] hzoo opened #1628 "New Docs pages"
In addition to the docs for v7 release, we should revamp a lot of missing information. Creating this issue to track some high level and specific topics to add and people can take them as we go.

- [ ] Config (currently https://github.com/babel/website/blob/master/docs/babelrc.md)
  - lookup behavior
  - file names (`.babelrc` vs. `package.json`, etc) and why you would use which, and examples
  - u

[2018-04-17 17:03] hzoo commented on #1160
Moving to https://github.com/babel/website/issues/1628

[2018-04-17 17:03] #1160 closed

[2018-04-17 17:07] hzoo commented on #1257
I think we have the readme's already so closing

[2018-04-17 17:07] #1257 closed

[2018-04-17 17:09] hzoo commented on #334
Moving to https://github.com/babel/website/issues/1628

[2018-04-17 17:10] #334 closed

[2018-04-17 17:11] hzoo commented on #858
Was done in https://github.com/babel/website/pull/1518 and should be easier via codesandbox rewrite

[2018-04-17 17:11] #858 closed

[2018-04-17 17:13] hzoo commented on #1302
Don't remember if we changed this since then

[2018-04-17 17:25] hzoo commented on #1324
Closed by https://github.com/babel/website/pull/1603!

[2018-04-17 17:25] #1324 closed

[2018-04-17 17:30] hzoo commented on #1405
Fixed at some point

[2018-04-17 17:30] #1405 closed

[2018-04-17 17:31] #1402 closed

[2018-04-17 17:32] hzoo commented on #1432
this is fixed now?

[2018-04-17 17:32] #1432 closed

[2018-04-17 22:55] Daniel15 commented on #1302
I think jsdelivr and cdn.rawgit.com are gone now, but we're still using both CDNJS and Unpkg. That's better but maybe we should just use Unpkg for everything.

[2018-04-18 03:58] hzoo commented on #1302
![image](https://user-images.githubusercontent.com/588473/38911139-370d120a-429b-11e8-83c2-7aeb299b00fc.png)

Ok these 2 places look easy to fix/change.

[2018-04-18 13:49] hzoo commented on #1621
So we removed the blog posts in the new site and I made http://new.babeljs.io/docs/en/next/v7-migration.html instead.

https://github.com/babel/website/blob/master/docs/v7-migration.md

I'll add that though, thanks

[2018-04-18 13:49] #1621 closed

[2018-04-18 13:58] hzoo commented on #1569
Closing in favor of https://github.com/babel/website/issues/1619

[2018-04-18 13:58] #1569 closed

[2018-04-18 13:59] hzoo commented on #1431
Closing for now

[2018-04-18 13:59] #1431 closed

[2018-04-18 14:28] hzoo commented on #1292
https://github.com/babel/website/issues/1497

[2018-04-18 14:29] hzoo commented on #1497
Moving to https://github.com/babel/website/issues/1292

[2018-04-18 14:29] #1497 closed

[2018-04-18 14:30] hzoo commented on #1502
Yeah, although I guess we should have everything that you could test via a PR

[2018-04-18 14:30] #1502 closed

[2018-04-18 15:13] dczombera commented on #1628
I think #334 is particular important for people who want to get started writing plugins and/or want to contribute to the project.
Even though I have only touched the tip of the iceberg when it comes to understanding the project in order to be able to contribute more serious stuff, I found it very tough to even get started because of the lack of documentation for the API. I think people who conside

[2018-04-19 06:55] Yilber commented on #1619
When you have time, please add the Spanish section. That way I can join it.
It would be helpful to know who else translating what language and which pages. That way we dont work twice.

[2018-04-19 20:32] hzoo commented on #1512
Feel free to add this when you have time?

[2018-04-19 20:38] loganfsmyth commented on #1512
I think this may already be covered by https://github.com/babel/babel/pull/7461 for the CLI at least. Still an issue if you call Babel programmatically though.

[2018-04-19 20:51] hzoo commented on #1628
@dczombera I totally agree! Problem is that everything _feels_ important, and I like having docs for usage first is more important. It's also more likely that you can figure it out since we've never really had API docs so I would prioritize other docs first to be practical given limited time/resources. I would hope that every person that has learned how to make a plugin would be able to contribute

[2018-04-19 20:58] hzoo commented on #1547
Oh I guess we did this in https://github.com/babel/website/pull/1555, closing!

Thanks for the reports 🙂

[2018-04-19 20:58] #1547 closed

[2018-04-19 21:10] hzoo commented on #1566
Alright so we already updated that in the new site! http://new.babeljs.io/docs/en/next/v7-migration.html#babel-node

But maybe we want to link to that new page from the current version? Ok I just did that as well here: https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7!

Thank you! 🎉

[2018-04-19 21:10] #1566 closed

[2018-04-19 21:13] hzoo commented on #1585
Alright this is fixed now, my bad

[2018-04-19 21:13] #1585 closed

[2018-04-19 21:31] hzoo commented on #1577
Ok closing in favor of https://github.com/babel/website/issues/1628

[2018-04-19 21:31] #1577 closed

[2018-04-23 01:37] hzoo opened #1633 "Front page: add versions/node usage"
Add latest stable and next versions, and supported node? Like on Yarn site and others.

Example:

Stable: v6.26.0
Latest: v7.0.0-beta.44

Node: ^4.8.0 || ^6.2.2 || >=8.0.0

[2018-04-26 15:39] edmorley commented on #1477
* `@babel/preset-env` no longer accepts `useBuiltIns: true` - with that now being equivalent to `useBuiltIns: 'entry'`, and there being a new option `useBuiltIns: 'usage'` (which is recommended?)
* `@babel/preset-env` now sets `useBuiltIns: true` for plugins it activates, if it was set to `'usage'` or `'entry'` for preset-env (this part wasn't too clear in the preset-env README; I had to read the

[2018-04-30 21:27] #1302 closed

[2018-04-30 22:46] #1608 closed

[2018-05-02 07:37] ncaq opened #1639 "missing @babel/plugin-proposal-class-properties in @babel/preset-stage-3"
I see [babel-preset-stage-3 · Babel](https://new.babeljs.io/docs/en/next/babel-preset-stage-3.html)

proposal-class-properties do not exist in document.

However, @babel/preset-stage-3 depend proposal-class-properties.

I know babel 7 include and babel 6 not include.

However, I see next document. Is it babel 7 document?

[2018-05-02 11:51] microbouji commented on #1639
Yes, the pages under /next are for babel 7. Many package readmes though (including babel-preset-stage-3) are, for the moment, automatically downloaded to this repo from the main babel repo.

The original document for that page is this: https://github.com/babel/babel/blob/master/packages/babel-preset-stage-3/README.md

You might want to send a PR there to add a note for proposal-class-properties.

[2018-05-04 12:37] leimonio opened #1644 "Docs don't included latest plugins - plugin-transform-unicode-regex"
When visiting https://babeljs.io/docs/plugins/ I can see a list of plugins, and the pages of the plugins seems outdated.

More specifically [es2015-unicode-regex](https://babeljs.io/docs/plugins/transform-es2015-unicode-regex/) has references to [babel-plugin-transform-es2015-unicode-regex instead](https://www.npmjs.com/package/babel-plugin-transform-es2015-unicode-regex) instead of [@babel/plugin

[2018-05-04 14:16] existentialism commented on #1644
@leimonio the babeljs.io docs represent 6.x docs, we are in the process of gettin v7 docs done in time for its release and get version switching between them (you can preview this work at new.babeljs.io), thanks!

[2018-05-04 14:16] #1644 closed

[2018-05-04 23:09] leimonio commented on #1644
@existentialism Great, thanks for sharing! 👍
Please let me know if you are searching for any contributors!

[2018-05-06 10:37] vjpr opened #1646 "In `Planning for 7.0` blog post, strikethrough section about env deprecation"
This post still comes up in search results for `babel 7 feature` and more.

https://github.com/babel/website/blob/master/website/blog/2017-09-12-planning-for-7.0.md#deprecate-the-env-option-in-babelrc

https://github.com/babel/babel/issues/5276#issuecomment-348598859:

https://github.com/babel/website/blob/master/website/blog/2017-12-27-nearing-the-7.0-release.md#the-env-option-in-babelrc-is-not-b

[2018-05-11 02:34] loveky opened #1649 "REPL: better user experience with Plugins"
Hi guys,

here is a few ideas about the Plugins at REPL page:

1. currently when I click on the plugins, the check state of the checkbox before the plugin name is not updated.

2. when I click a plugin in search result, the search list is reset. the keyword is gone.

[2018-05-16 07:54] elmpp opened #1659 "Error: Configuration contains explicit test/include/exclude checks, but no filename was passed to Babel"
Hi there,

I'm trying to bumble my way through to having a working babel7-based setup but there seems to be something wrong the moment i pull in "babel-plugin-inline-import-graphql-ast"

Here is my `babel.config.js` (this is now the [babel7 method](https://github.com/facebook/jest/issues/6053#issuecomment-383632515) to specify a project-wide babel config, in lieu of `.babelrc`):

[code]

Example u

[2018-05-16 18:17] loganfsmyth commented on #1659
Closing in favor of https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/issues/30

[2018-05-16 18:17] #1659 closed

[2018-05-18 18:14] tkrotoff opened #1660 "babel-preset-env + babel-polyfill documentation is misleading"
With Babel 6 (and 7) [babel-preset-env](https://babeljs.io/docs/plugins/preset-env) and [babel-polyfill](https://babeljs.io/docs/usage/polyfill/) documentations are misleading.

Based on my experimentations with babel-preset-env + babel-polyfill (for Babel 6) here: https://github.com/tkrotoff/babel-preset-env-example

<br>
<br>

Suggestions to improve babel-preset-env documentation:
- Clearly stat

[2018-05-18 19:39] existentialism commented on #1660
WRT to the 7 docs, this is not true as `useBuiltIns: usage` does attempt to only include polyfills which are used.

[2018-05-18 19:49] existentialism commented on #1660
I've been working on a preset-env docs overhaul that's long overdue, but happy to review a PR that improves this language.

I think @hzoo's original thinking was to only include `babel-polyfill` install info near the `useBuiltIns` option, since not everyone would be using it.

https://babeljs.io/docs/plugins/preset-env#usebuiltins

Was already discussed in https://github.com/babel/babel/issues/778

[2018-05-22 17:27] RusinovAnton commented on #1627
I'm currently working on the fix. Its pretty trivial for the old site but in the new site there is another error arise:
[code]
Which is forEach method of NodeList.
The work on polyfill for this is in progress:
https://github.com/zloirock/core-js/pull/325

[2018-05-23 05:52] loganfsmyth opened #1666 "Include file extension in REPL config options"
With https://github.com/babel/babel/pull/7955 Babel now allows both the flow and typescript presets to be used in parallel, and allows JSX only in `.tsx`, not `.ts` files. Given that, we'll want to stop hard-coding the filename "repl" with no extension in https://github.com/babel/website/blob/71a346f6ab95047b9c6a1df373aca5b9dc609501/js/repl/compile.js#L84

Including the extension is important now,

[2018-05-23 06:16] loganfsmyth opened #1667 "Include sourceType in REPL config options"
Along the same lines as #1666, Babel transforms can vary in behavior depending on the `sourceType`, so it would be good to expose that option in the REPL.

[2018-05-23 20:25] hzoo opened #1669 "REPL: link to master link?"
Was thinking we should have some kind of UI/button/etc to be able to suggest to someone to use the master build, if the url isn't on `https://babeljs.io/repl/build/master/` (for the case they want to report a bug)

[2018-05-25 13:59] NMVikings opened #1670 "Wrong out in some examples of a preset-env plugin."
https://babeljs.io/docs/plugins/preset-env/

Config:

[code]

Out for `Target only Chrome 52` on website:

[code]

Out on [REPL](https://babeljs.io/repl/#?babili=false&browsers=chrome%2052&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAYwDYEMDOa4EE4G8C-AUEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=true&presets=env&prettier=false&

[2018-05-25 15:25] AkshatSrivastava2 commented on #1452
@existentialism  Is this issue closed? I wanted to work with this.

[2018-05-25 15:30] AkshatSrivastava2 commented on #1666
@loganfsmyth I am a first-time contributor. I want to work on this issue.

[2018-05-25 15:39] loganfsmyth commented on #1666
@AkshatSrivastava2 Go for it! Feel free to join our Slack if you want to chat and ask us questions about it. We have a channel for the website on there.

[2018-05-26 08:03] AkshatSrivastava2 commented on #1571
@hzoo Are we still up with this issue? I can work with this.

[2018-05-31 00:40] alexzherdev commented on #1667
I'd like to work on this if it makes sense to get this started while #1666 is being worked on. (I could solve conflicts later if there are any)

[2018-05-31 01:57] loganfsmyth commented on #1667
@alexzherdev Go for it. If you're not familiar, there are 3 types of `sourceType` that we'd want, `unambiguous`, `script`, and `module`.

[2018-06-01 15:46] nicolo-ribaudo opened #1675 "Add external helpers support to the repl"
Especially when reviewing PRs, the helpers generate too much noise in the repl output

[2018-06-01 16:32] alexzherdev commented on #1667
This is coming along nicely, will be ready shortly. Here's what it looks like currently, let me know if you were invisioning something else @loganfsmyth
<img width="232" alt="screen shot 2018-06-01 at 9 31 02 am" src="https://user-images.githubusercontent.com/93752/40852234-a31979ce-657e-11e8-909e-0dadcdf819a7.png">

[2018-06-01 16:44] nicolo-ribaudo commented on #1667
Maybe you could add some left padding to align it with the other labels?

[2018-06-02 04:46] alexzherdev commented on #1667
Actually, there's not quite enough space to do that (I'd have to shrink the dropdown too which didn't look nice), so I ended up not changing it

[2018-06-04 15:14] xtuc opened #1680 "babel-types documentation?"
Since we moved out the documentation from babel/babel (https://github.com/babel/babel/pull/8108), if we want to move `babel-types` in the website repo we'll need to get the source somehow (because of the definition file).

Some ideas:
- Download the source via the API and run the generation script
- Maintain it by hand?
- Stop maintaining it and point to the definition file/source

[2018-06-04 16:44] hzoo commented on #1646
It does say `## 💀 Possible Deprecations` but good suggestion!

[2018-06-04 16:44] hzoo commented on #1646
https://github.com/babel/website/commit/d51f3aba4cd8d9476de82c35340e1cd37edd2cba

[2018-06-04 16:44] #1646 closed

[2018-06-05 21:43] zloirock commented on #1366
@thedamon by my opinion, `polyfill.io` is a good service with bad polyfills.

You can see `polyfill.io` position about the correctness of polyfills [here](https://github.com/Financial-Times/polyfill-service/issues/192#issuecomment-216044063). You can check the source code of polyfills from `polyfill.io` in their repo. Just an example - [leaking `WeakMap` polyfill](https://github.com/Financial-Time

[2018-06-06 00:26] thedamon commented on #1366
This is an awesome explanation. Thank you!

I may look at polyfill.io for DOM API polyfills only, if they have a way to
limit it to only old browsers and then conditionally load subsets of
babel-polyfill in old browsers.
On Tue, Jun 5, 2018 at 17:43 Denis Pushkarev <notifications@github.com>
wrote:

[2018-06-06 13:38] danthill02 opened #1684 "Babel documentation for usage with nodemon only shows how to use it with babel-node, which is not meant to be used in production"
On the setup page, when nodemon is selected, the instructions only show how to use nodemon with babel-node, which is not meant to be used in production, [which is described here.](https://babeljs.io/docs/usage/cli/#babel-node)

Any information about how to properly set up nodemon with babel in such a way that it can be used in a production environment would be greatly appreciated.

[2018-06-07 19:33] alexzherdev commented on #1667
Good to close now @existentialism @loganfsmyth ?

[2018-06-07 19:40] existentialism commented on #1667
@alexzherdev yep thanks!

[2018-06-07 19:40] #1667 closed

[2018-06-12 14:32] hzoo commented on #1627
Should be ok

[2018-06-14 15:26] DavidEspinola opened #1692 "Link to "Learn ES2015" is broken"
The link "Learn ES2015" (https://babeljs.io/docs/en/learn.html) at the footer is broken and results in a 404. I can't find that page in this repo, but you may link it to the old website https://old.babeljs.io/learn-es2015/

[2018-06-14 15:31] hzoo commented on #1692
Thanks for the report! Yea the link is missing `/en`. https://github.com/babel/website/commit/819c0cc9e319fec7ab5893870651493cc9eafc30

[2018-06-14 15:31] #1692 closed

[2018-06-14 17:06] roschler opened #1693 "Broken PREVIOUS/NEXT links for polyfill and register on runtime generators page"
On this page, the PREVIOUS/NEXT links for BABEL-POLYFILL and BABEL-REGISTER are broken (404 errors).  I'm referring to the two links at the bottom of the page, not the ones in the sidebar(s):

https://babeljs.io/docs/en/babel-plugin-transform-runtime/

Here are the URLs for the broken links:

https://babeljs.io/docs/en/babel-plugin-transform-runtime/babel-polyfill.html
https://babeljs.io/docs/en/b

[2018-06-14 18:51] jsprow commented on #485
I think I found one: [https://babeljs.io/docs/en/babelrc/api.md](url)

[2018-06-14 20:44] microbouji commented on #1693
It seems to be happening when the link ends in `/` rather than `.html`

So prev/next links are broken e.g. in https://babeljs.io/docs/en/babel-polyfill/, but not in https://babeljs.io/docs/en/babel-polyfill.html

[2018-06-15 00:32] alexzherdev commented on #1666
@AkshatSrivastava2 @loganfsmyth I can help get this to the finish line.

[2018-06-15 06:39] babel-bot opened #1696 "Cannot run https://babeljs.io/repl/ on IE11"
Original issue submitted by @paiboonpa in https://github.com/babel/babel/issues/8174

## Bug Report

**Current Behavior**
A clear and concise description of the behavior.
Enter https://babeljs.io/repl/ with IE11. It will show "An error occurred while loading Babel :("

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).
Can load up the editor just l

[2018-06-15 14:52] #1452 closed

[2018-06-15 14:53] hzoo commented on #1571
I moved babeljs.io to be the new site so this isn't an issue anymore!

[2018-06-15 14:53] #1571 closed

[2018-06-15 14:53] #1568 closed

[2018-06-15 14:54] hzoo commented on #1248
Moving to https://github.com/babel/website/issues/1633

[2018-06-15 14:54] #1248 closed

[2018-06-15 14:55] hzoo commented on #1693
Is this a docusaurus issue? @JoelMarcey

[2018-06-15 16:57] JoelMarcey commented on #1693
Hi @hzoo @microbouji -- possibly. What version of Docusaurus are you running?

[2018-06-15 17:02] hzoo commented on #1693
Looks like 1.1.5 now!

Oh I see https://github.com/facebook/Docusaurus/releases/tag/v1.2.0

Looks like https://github.com/facebook/Docusaurus/commit/31f0c27f81ac9d22f8fdd29f5265e60b5b038773 is the option. `cleanUrl` which is good to see?

[2018-06-15 17:04] JoelMarcey commented on #1693
Yeah, we enabled extension-less URLs in 1.2.0. Maybe that would fix your issue here?

[2018-06-15 17:04] JoelMarcey commented on #1693
🤞

[2018-06-15 17:08] JoelMarcey commented on #1693
Definitely test locally before pushing, of course 😄

[2018-06-15 18:09] hzoo commented on #1693
`https://babeljs.io/docs/en/babel-plugin-transform-runtime` works fine too actually. it's just when there is a trailing slash `/` whether or not docusaurus is updated.

[2018-06-15 18:17] JoelMarcey commented on #1693
That may be an unknown bug then. We need to investigate. Might just be a small logic bug we have. Can you remove the trailing slash for now? Or would that be too hard?

Did you clear the Babel cache? 😆 https://docusaurus.io/docs/en/next/installation#updating-your-docusaurus-version

[2018-06-16 08:13] endiliey commented on #1693
Hi ✋,

This is actually caused by how relative path in href works.

In `https://babeljs.io/docs/en/babel-plugin-transform-runtime`
href of `babel-register` will translate to `https://babeljs.io/docs/en/babel-register`

In `https://babeljs.io/docs/en/babel-plugin-transform-runtime/`
href of `babel-register` will translate to `https://babeljs.io/docs/en/babel-plugin-transform-runtime/babel-register`

[2018-06-17 03:44] endiliey commented on #1693
Hi ✋,

FYI. This is fixed on https://github.com/facebook/Docusaurus/pull/783

[2018-06-19 19:07] XhmikosR commented on #1696
[code]

[2018-06-19 19:09] XhmikosR commented on #1696
IE as usual :)

[2018-06-20 19:48] XhmikosR commented on #1696
@hzoo: should we should to plain `for` or add a polyfill like https://developer.mozilla.org/en-US/docs/Web/API/NodeList/forEach#Polyfill?

[2018-06-22 13:53] babel-bot opened #1703 "Getting a 404 page for API docs"
Original issue submitted by @ctrlplusb in https://github.com/babel/babel/issues/8214

## Bug Report

Try to view the API documentation. I found the following link on the [.babelrc](https://babeljs.io/docs/en/babelrc) page:

https://babeljs.io/docs/en/api.md

Get presented with a 404 page.

[2018-06-22 18:03] #1703 closed

[2018-06-24 12:35] minseclab opened #1706 "No slash ended url will redirect to error!"
Where visit the site with no slash ended url "https://babeljs.io/docs/en", then the foot next button doesn't work well.

[2018-06-24 20:34] ain opened #1707 "Broken v7-migration link"
On https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7 there's a broken link to `v7-migration`.

[2018-06-25 02:04] #1707 closed

[2018-06-25 02:05] hzoo commented on #1707
Thanks, it isn't on the 6.x docs so I changed the url

[2018-06-25 02:05] hzoo commented on #1706
Duplicate of https://github.com/babel/website/issues/1693

Thanks for reporting but closing in favor of ^, should be fixed if we update Docusaurus

[2018-06-25 02:05] #1706 closed

[2018-06-25 02:06] hzoo commented on #1693
Anyone want to make a PR to update (looks like there are css changes in the update so need to check that too (can do screenshots or use the preview url)

[2018-06-28 11:27] xtuc opened #1709 "Document new --config-file option"
Since https://github.com/babel/babel/pull/6133 we are now able to specify the location of the Babel configuration in the CLI.

Would be great if someone actually document it!

[2018-06-28 12:34] jplatte opened #1710 "babel-preset-es20XX deprecation warning has link without protocol in it"
Just created a new project based on an older one where I used babel-preset-es201{5,6} and I noticed that the deprecation message for those two doesn't contain `https://`. The Visual Studio Code terminal thus didn't recognize it as a link and I couldn't Ctrl+Click it, and also when I pasted the link into my browser the page loaded via http, no redirect to https (see #804).

It would be nice if the

[2018-06-28 12:36] jplatte commented on #1710
Oops, just noticed the repo. I was originally going to open an issue for no http -> https redirect but since that already exists just changed the issue content. I can't find a repo for the old presets on your GitHub org though, so I won't close yet.

[2018-07-02 13:40] #1693 closed

[2018-07-05 18:29] hzoo opened #1713 "Document plugin naming"
PR: https://github.com/babel/babel/pull/8197

make sure we specify what is possible or a table of how it resolves, and to recommend people just use the longform anyway?

Somewhat specified here https://new.babeljs.io/docs/en/next/plugins.html#plugin-preset-shorthand but it can be more comprehensive.

[2018-07-07 13:37] hzoo commented on #1639
I don't think we are planning to document each stage in the the site? https://babeljs.io/docs/en/next/babel-preset-stage-3.html I would just link to the repo or the stage process in https://github.com/tc39/proposals

[2018-07-07 13:37] #1639 closed

[2018-07-07 13:39] hzoo commented on #1670
Yeah I guess I just didn't include that extra part above is all, didn't want to make the example that large.

[2018-07-07 13:39] #1670 closed

[2018-07-07 21:55] yanivefraim opened #1716 "`babylon` link is broken"
There is a 404 page when trying to go to `tooling/babylon`,

[2018-07-07 22:39] hzoo commented on #1716
Can you say where you clicked it from? This is because we changed to `@babel/parser` as a rename

[2018-07-08 07:37] nicolo-ribaudo commented on #1716
I think that we should both change the link and have the redirect, since external sites still point to Babylon.

[2018-07-08 10:33] yanivefraim commented on #1716
Sure, I clicked it from `https://babeljs.io/docs/en` (see screenshot attached). Thanks!

![screen shot 2018-07-08 at 13 30 45](https://user-images.githubusercontent.com/1336186/42418928-758b6bf0-82b3-11e8-94b5-83cbc2d069bc.png)

[2018-07-11 08:51] mgred commented on #1709
This seems to be documented already (at least in the new docs): https://github.com/babel/website/commit/44148313f47312164715b03ffe2e438c1790312f#diff-f25cc7613a9dc426e5a6fb653c139200R222

[2018-07-15 03:37] sw-yx commented on #1628
hello! doing some work on the handbook today. i will post a WIP PR.

[2018-07-16 16:06] vpanjganj opened #1728 "JSX and Flow"
on [JSX and Flow](https://github.com/babel/website/blob/master/docs/index.md) section it implies that Flow is still included in React preset. I suggest removing `Flow` from the title, or at least mention separation between the React and Flow presets.

[2018-07-16 19:52] hzoo commented on #1728
Cool 👍, yeah I'll split it

[2018-07-16 19:55] #1728 closed

[2018-07-17 09:10] hexagon6 opened #1730 "Click on Edit leads to 404"
Context:

I saw 2 dead links in the following page:

https://babeljs.io/docs/en/babel-plugin-transform-object-rest-spread

thus, I wanted to fix it, so I clicked on `Edit` which leads me to https://github.com/babel/website/blob/master/docs/plugin-transform-object-rest-spread.md which is not there anymore.

How to fix this? I would like to volunteer.

[2018-07-17 12:19] hzoo commented on #1730
Closed by https://github.com/babel/website/pull/1731

[2018-07-17 12:19] #1730 closed

[2018-07-17 17:41] hzoo opened #1732 "Tracking: Blog posts"
- [ ] Babel helpers (started)
- [ ] polyfilling (started)
- [ ] future of tc39 proposals/plugins/stages (after https://github.com/babel/website/pull/1725)

[2018-07-24 05:11] lovetingyuan commented on #1628
I hope all the `babel-traverse` and `babel-types` API cound be added to the new doc site, it would be a big deal to those want to develope plugins

[2018-07-25 19:57] sw-yx commented on #1628
i would love to work on that once the handbook is merged in. anyone i can work with on this?

[2018-08-11 03:41] codeudan commented on #1716
Url "https://babeljs.io/docs/en/api.md" is broken (Response 404 page) too. This link from "Options" in https://babeljs.io/docs/en/babelrc.

[2018-08-16 07:51] Andarist opened #1755 "Better page for babel's options"
At the moment this - http://babeljs.io/docs/en/next/babel-core#options is hard to link to. @loganfsmyth has suggested also the table is hard to read, it's fine for me though.

Not sure how exactly algolia plugin works, but it doesn't index this so in example phrase "babelrcRoots" cannot be found with the search, maybe that's the table's fault?

[2018-08-24 00:27] #1716 closed

[2018-08-24 00:28] hzoo commented on #1755
Yeah we can just remove the table and make headings

[2018-08-24 00:29] loganfsmyth commented on #1755
I don't think the options should be under `babel-core` either because no-one thinks to look there because they think of Babel as one overall unit. It would be better to have a top-level documentation page for the options, I think.

[2018-08-24 06:49] Sinkyears opened #1763 "let+const+module"
The following code does not compile
let+const

function f() {
  {
    let x;
    {
      // this is ok since it's a block scoped name
      const x = "sneaky";
      // error, was just defined with `const` above
      x = "foo";
    }
    // this is ok since it was declared with `let`
    x = "bar";
    // error, already declared above in this block
    let x = "inner";
  }
}

[2018-08-24 07:05] xtuc commented on #1763
@babel-bot move babel/babel

[2018-08-24 07:06] xtuc commented on #1763
@babel-bot move to babel/babel

[2018-08-24 07:06] #1763 closed

[2018-08-24 07:08] xtuc commented on #1763
Our bot seems not moving your issue. Could you please open a new issue on https://github.com/babel/babel and use our issue template.

[2018-08-24 15:53] hzoo opened #1767 "Add some more Babel talks!"
To https://github.com/babel/website/blob/master/website/data/videos.yml

Any others?

- https://www.youtube.com/watch?v=XvTsxa9i13o
- https://www.youtube.com/watch?v=9sPDcVYX3g8
- https://www.youtube.com/watch?v=h0sfFX7WH1c

[2018-08-24 16:44] hzoo opened #1768 "Change the titles for all the packages"
@loganfsmyth pointed out that the titles aren't using scoped packages, so sounds like we need to do this for most of the pages

[code]

[2018-08-24 18:01] xtuc commented on #1767
I did:
- https://www.youtube.com/watch?v=5vnmvXuwzJ0
- https://www.youtube.com/watch?v=hOghLCWohuU

but feel free to not include them.

[2018-08-25 13:32] #1768 closed

[2018-08-26 18:46] notlmn opened #1771 "Change sidebar labels in latest docs"
- From https://github.com/babel/website/pull/1770#issuecomment-415969770
- Blocked by https://github.com/facebook/Docusaurus/issues/916
- Wait until https://github.com/facebook/Docusaurus/pull/917 gets merged or https://github.com/facebook/Docusaurus/issues/916 gets fixed somehow

I'd like to assign myself to this issue!

[2018-08-27 13:55] hzoo commented on #1771
Nice work @notImn!

[2018-08-27 22:55] hzoo opened #1780 "Heading for 7.0 post is invalid"
https://babeljs.io/blog/2018/08/27/7.0.0 title heading links to https://babeljs.io/blog/2018/08/27/7?

@joelmarcey?

[2018-08-27 22:59] JoelMarcey commented on #1780
@hzoo Oh no - I am sure this how we are processing the id to get the url. Probably a regex not taking into account `.` or something. We may not have tested blog names with `.` in them.

cc: @yangshun, @endiliey

[2018-08-27 23:12] yangshun commented on #1780
Yes, that's possibly why. We'll file a task in Docusaurus.

[2018-08-27 23:16] JoelMarcey commented on #1780
@hzoo You published the blog with what should be the correct link. Did you just manually update it?

[2018-08-27 23:30] hzoo commented on #1780
Haha yeah I guess most people are just doing the version number as the url.

What do you mean by this?

[2018-08-27 23:38] JoelMarcey commented on #1780
@hzoo I think I was slightly confused. It is the blog title within the blog that screws up, not the actual link to the blog. I just saw that you published the blog post and given what I thought was the error, I thought you might have manually updated the link to the blog post to be `7.0.0` instead of `7`.

[2018-08-27 23:57] hzoo commented on #1780
oh sorry yeah I certainly could of been more clear, just had someone message me about it!

[2018-08-27 23:58] hzoo opened #1781 "7.0 post: also add section explaining babel-loader/rollup output esmodules"
https://github.com/babel/website/pull/1779#issuecomment-416397906

[2018-08-28 01:49] endiliey commented on #1780
Just saw this. I'll work on a fix

[2018-08-28 11:29] hzoo commented on #1781
https://github.com/babel/website/commit/8ddbc570bea6429f670195f08b3b9b5f7b057140

[2018-08-28 11:29] #1781 closed

[2018-08-28 15:57] rsmelo commented on #1619
Hello congratulations for the 7.0.0 babel release.
There will be a section to brazilian portuguese in crowdin? I want to help with pt-br translations if possible

[2018-08-28 20:22] hzoo opened #1792 "Docs: for the repl"
At least to explain you can do https://babeljs.io/repl/build/master/ since we haven't switched the repl itself to v6.

[2018-08-28 21:48] mgol opened #1793 "Every REPL refresh downgrades the Babel version"
Here's what I did today:

1. I opened https://babeljs.io/repl and saw version 6.something.something specified at the bottom of the page.
1. I saw #1792, opened https://babeljs.io/repl/build/master and saw Babel 7 is used.
1. Then I opened https://babeljs.io/repl again and noticed it's now on `7.0.0-rc.4`.
1. Here's when it gets funny. After every page refresh or manual navigation to https://babelj

[2018-08-31 15:41] huichops commented on #1619
I am very happy for the release of Babel 7.
I would love to help with the Spanish translation!
I have a friend without English skills that learned React completely from Youtube videos in Spanish.

[2018-08-31 15:53] babel-bot opened #1804 "@babel/preset to add while setting up with webpack v4"
Original issue submitted by @Tapudp in https://github.com/babel/babel/issues/8594

I have been trying to configure babel7 with webpack for my react-redux app and I got the following error which basically says that it can't find the babel, or babel-preset-env or babel-preset-react

[code]

Even the documentation setup here http://babeljs.io/en/setup#installation

Says to install `babel-preset-env`

[2018-08-31 15:56] babel-bot opened #1805 "[Documentation search] Update the search in order to handle different versions and languages."
Original issue submitted by @s-pace in https://github.com/babel/babel/issues/8587

👋 team,

I am working on [DocSearch](https://community.algolia.com/docsearch/) , an algolia tool. We are proud to feature the search from your documentation website.

Congrats for the v7 👏

It needed [an update from our side](https://github.com/algolia/docsearch-configs/commit/6563a0730d9a51ff3a3c0b44f7ed0ecb1d7952e

[2018-09-02 13:14] catamphetamine opened #2741 "Update docs to include the description of what `legacy` actually does for `@babel/plugin-proposal-decorators`"

[2018-09-04 15:02] babel-bot opened #1808 "Setup page didn't update to Babel&"
Original issue submitted by @DanielWLam in https://github.com/babel/babel/issues/8625

https://babeljs.io/en/setup#installation

![image](https://user-images.githubusercontent.com/8369212/45016931-c562d780-b058-11e8-8d46-e608c0fd0beb.png)

[2018-09-10 11:07] wyuenho opened #1819 "Decorator decoratorsBeforeExport should be required"
Context:

#8465

https://github.com/babel/babel/issues/8562#issuecomment-419710995

[2018-09-14 09:55] ymschaap opened #1826 "[Feature proposal] Add filtering to Who's Using page"
## 💥 Proposal

The current [Who's Using](https://babeljs.io/en/users.html) page is now a huge list of 200+ company logo's. I think this could be improved upon to become more valuable.

I propose to add more details for each users in the [backend](/website/data/users.yml):
* company size
* flag sponsor or contributor
* how babel is used (link to a blog post?)
* type of user (corporate, educational,

[2018-09-14 10:31] xtuc commented on #1826
Wow that's super cool! Do you want to work on this? Would you mind sending a PR?

[2018-09-14 11:59] ymschaap commented on #1826
Yes, would we happy to work on this.

[2018-09-14 12:34] xtuc commented on #1826
Good news! I would recommend you to join our Slack (website channel) for any question/help.

[2018-09-14 13:47] ajcrites opened #1827 "Clarify documentation on Caching"
The new babel.config.js allows (seemingly requires) you to set up caching. I think the [documentation on caching](https://babeljs.io/docs/en/config-files#apicache) is a little unclear in a couple of spots:

What is meant by "expected?"

Also, the `.invalidate` explanation seems to have been copied from the `.using` section but not updated. I would like to rewrite it, but I'm a bit confused about h

[2018-09-14 14:15] #1771 closed

[2018-09-14 15:04] hzoo commented on #1780
Yep, Fixed by https://github.com/babel/website/pull/1824!

[2018-09-14 15:04] #1780 closed

[2018-09-14 15:27] JoelMarcey commented on #1826
Sweet - is this something you could upstream to the Docusaurus core?

[2018-09-14 17:28] ymschaap commented on #1826
@JoelMarcey Yes! But makes sense to start with Babel first because of its large amount of users.

[2018-09-14 20:18] babel-bot opened #1831 "Install for Grunt Documentation Not Comprehensive"
Original issue submitted by @rhroyston in https://github.com/babel/babel/issues/8712

Following the instructions at [Setup](https://babeljs.io/setup#installation) (for Grunt), one gets the following errors:

[code]

As an aside, it appears the `#` functionality baked in to web is broken, i.e., I was unable to point you to the `Grunt` specific section of the `Setup` page.

[2018-09-15 16:29] rhroyston commented on #1831
I think what comes as step 1 is documented at the [usage guide](https://babeljs.io/docs/en/usage), namely Step 1 is:
npm install --save-dev @babel/core @babel/cli @babel/preset-env
npm install --save @babel/polyfill

Then you can proceed with the Grunt steps. Note, I am using Babel for browser(s) and I am new to it so I could be wrong here. ...just sayin - when I hit the babel website and clicked

[2018-09-17 13:37] laurage opened #1832 "Search for 'babel-plugin-plugin-proposal-export-default-from'"
# Bug Report
**Current Behavior**
Console error:
"Uncaught Error: Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: Cannot find module 'babel-**plugin-plugin**-proposal-export-default-from' from '../project/path'"

**Expected behavior/code**
Module searched is  'babel-**plugin**-proposal-export-default-from'.
babel-plugin-proposal-export-default-from doesn't throw.

**Cod

[2018-09-23 16:31] dylang opened #1839 "7.1.0 released, but docs are still on 7.0.0"
Hi! I think either the web site hasn't been getting updated, or there's some confusion about the word "released".

|<img width="550" alt="screen shot 2018-09-23 at 12 23 57 pm" src="https://user-images.githubusercontent.com/51505/45930238-a3f45d80-bf2b-11e8-99ac-7cde657baf17.png">|
|---|
|Blog post says 7.1.0 "released", yay, `rootMode` option!|

But, hmm...

|<img width="591" alt="screen shot 201

[2018-09-23 16:32] existentialism commented on #1839
https://github.com/babel/website/pull/1838 will fix this.

[2018-09-23 16:41] #1839 closed

[2018-09-26 14:11] josefaidt opened #1843 "Site styling (plugins) broken on desktop"
Noticed this morning the site's documentation for individual plugins seems to be broken. Does not follow same style as documentation pages. Is the sidebar supposed to collapse like this when viewing individual  plugins? If so, can this be horizontally centered?

![image](https://user-images.githubusercontent.com/5033303/46085457-b5c44380-c16b-11e8-8e9f-5f66c1af9de6.png)

[2018-09-26 14:54] hzoo commented on #1843
Yeah, I think this is because it's not part of a sidebar. And yes I think it looks really weird too, cc @JoelMarcey? I would also suggest that it would be centered if there is no left-sidebar?

[2018-09-26 15:06] JoelMarcey commented on #1843
cc @endiliey @yangshun

Looks like https://babeljs.io/docs/en/babel-node#usage is missing the left sidebar

[2018-09-26 15:14] endiliey commented on #1843
I didn't see it on the sidebars.json as well
https://github.com/babel/website/blob/master/website/versioned_sidebars/version-7.0.0-sidebars.json

[2018-09-27 17:41] btholt commented on #1767
I have one! https://www.youtube.com/watch?v=SSymzmnk0ZA&t=47s

[2018-09-28 20:27] hzoo commented on #1832
I would ask support questions on our https://slack.babeljs.io, or report bugs on https://github.com/babel/babel/. This is the website repo.

But if you are trying to use babel 7, and the dependency is `@babel/plugin-proposal-export-default-from`

I would change your config:

[code]

[2018-09-28 20:27] #1832 closed

[2018-09-28 20:29] #1831 closed

[2018-09-28 20:33] hzoo commented on #1808
if this is for webpack, this is changed to `@babel/core`

[2018-09-28 20:33] #1808 closed

[2018-09-28 20:35] hzoo commented on #1804
We actually recommend just spelling out the whole package name so `env` would be `@babel/preset-env` actually, and preset is plural

[code]

[2018-09-28 20:35] #1804 closed

[2018-09-28 20:36] hzoo commented on #1843
Yeah I guess my point is that if it's not on the sidebars.json (either intentionally or accident, as maybe there's too many to fit in the sidebar) that Docusaurus would fallback to centering it?

[2018-09-28 20:36] hzoo commented on #1793
Yeah I think we should not save/cache the version then, it's just confusing

[2018-09-28 20:37] hzoo commented on #1755
Ok Logan did an amazing job at this in https://babeljs.io/docs/en/options

[2018-09-28 20:37] #1755 closed

[2018-09-28 20:38] Tapudp commented on #1804
@hzoo that's what I'm trying to say and the official docs weren't saying it so i just wanted to contribute to that one change. I hope you get my point

[2018-09-28 20:39] hzoo commented on #1709
https://babeljs.io/docs/en/options#configfile

[2018-09-28 20:39] #1709 closed

[2018-09-28 20:40] hzoo commented on #1792
Either this or we add the version dropdown

[2018-09-28 20:42] hzoo commented on #1792
Ok this is basically a duplicate of https://github.com/babel/website/issues/1669

[2018-09-28 20:42] #1792 closed

[2018-10-01 14:05] ymschaap commented on #1826
My latest updates are available here:
#1834

cc @JoelMarcey @xtuc

[2018-10-01 17:46] thiagoarrais commented on #1767
Is this still up for grabs?

[2018-10-02 05:31] josejbreijo opened #1850 "Horizontal scroll on mobile for long `.hljs-string`"
Reading on my phone [Zero-config code transformation with babel-plugin-macros](https://babeljs.io/blog/2017/09/11/zero-config-with-babel-macros#introducing-babel-plugin-macros-https-githubcom-kentcdodds-babel-plugin-macros) saw that the page didn't fill the viewport in the right way, thus, horizontal scroll.

According to the devtools, `overflow-x: visible;` on the `<code>` snippet element cause t

[2018-10-02 05:56] nicolo-ribaudo commented on #1850
Do you want to open a PR and test if it works?

[2018-10-03 03:00] loganfsmyth opened #1852 "Add docs for preset-env's modules:auto behavior"
We didn't document https://github.com/babel/babel/pull/8485

[2018-10-03 14:01] #1767 closed

[2018-10-03 14:22] #1850 closed

[2018-10-03 22:43] mi-yu commented on #1852
Hi, I'd like to pick this up if nobody else already has, but I have a few questions:

- is the `auto` option present in all current versions of Babel, or only 7.x?
- is the documentation [here](https://github.com/babel/babel/pull/8485/files#diff-1558508a41a0cf543273e188fe7bbf85) a good starting point to put on the website docs?

[2018-10-03 22:48] existentialism commented on #1852
@mi-yu only 7.x, and yeah, augmenting https://babeljs.io/docs/en/babel-preset-env#modules with explaining `false`, a specific module type, and `auto` is what we need!

[2018-10-03 23:01] mi-yu commented on #1852
Thanks!

[2018-10-06 18:34] babel-bot opened #1860 "Babel documentation since the 7 upgrade is very confusing"
Original issue submitted by @JamesTheHacker in https://github.com/babel/babel/issues/8807

Since I started using Babel 7 a lot of issues in development are because of Babel issues. One day I installed a babel plugin and noticed a red warning and a link to a blog post about removing staging.

Yet nowhere is there a comprehensive guide on how to use babel without staging. Considering a lot of people

[2018-10-06 18:34] babel-bot opened #1861 "Babel documentation since the 7 upgrade is very confusing"
Original issue submitted by @JamesTheHacker in https://github.com/babel/babel/issues/8807

Since I started using Babel 7 a lot of issues in development are because of Babel issues. One day I installed a babel plugin and noticed a red warning and a link to a blog post about removing staging.

Yet nowhere is there a comprehensive guide on how to use babel without staging. Considering a lot of people

[2018-10-06 20:45] nicolo-ribaudo commented on #1861
Duplicate of #1860

[2018-10-06 20:45] #1861 closed

[2018-10-09 04:59] vikr01 opened #1863 "Move stage preset READMEs to website"
From [#1859](https://github.com/babel/website/pull/1859#issuecomment-427705509):

[2018-10-10 16:27] suchipi opened #1868 "REPL not working - traverse.clearCache is not a function"
The repl is not working- when the code is compiled, no output is shown on the right, and the bottom shows "traverse.clearCache is not a function":

![](https://puu.sh/BINCW/cb9eaedcec.png)

[Link](https://babeljs.io/repl#?babili=true&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEBiD29oFMAeAXZA7AJjAQmAE7QDeAUNNOQL4Dc5QA&debug=false&forceAllTransforms=false&shippedProposal

[2018-10-10 18:34] hzoo commented on #1868
Hmm I assume it's different versions of Babel.. actually it's porbably the `minify` - maybe it's an old version of babili (should be babel-minify now) https://github.com/babel/website/issues/1311, https://github.com/babel/website/pull/1744

[2018-10-10 22:01] suchipi commented on #1868
Yeah looks like it's minify; unchecking it makes that work again.

[2018-10-11 15:28] #1863 closed

[2018-10-29 07:58] zerkms opened #1879 "ENV preset is broken (?)"
I expect this following code

[code]

to work with all "hardcoded" presets unchecked and env preset enabled with `chrome >= 69` selector.

Yet it fails to emit code: repl: Unexpected token (2:11)

url: https://babeljs.io/repl#?babili=false&browsers=chrome%20%3E%3D%2069&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAhjAvDA3gXwNwChSVgIyVQDpS4AaGAMxBAC4YByfOAJ0cyA&debug=false&forceA

[2018-10-29 09:52] vladshcherbin commented on #1879
@zerkms you are using old version of repl, use this link instead - https://babeljs.io/repl/build/master.

Related to https://github.com/babel/website/issues/1793

[2018-10-29 09:55] zerkms commented on #1879
I see, is there a way to switch to `build/master` from the UI?

[2018-10-29 10:14] vladshcherbin commented on #1879
Don't think so.

I also think repl is outdated, here is [env plugin used](https://github.com/babel/website/blob/master/js/repl/PluginConfig.js#L23) and [package.json env version](https://github.com/babel/website/blob/master/package.json#L45). Will be probably fixed with this babel 7 pr - https://github.com/babel/website/pull/1483, until then repl is kinda broken/misleading with fake link versions.

[2018-10-29 10:17] zerkms commented on #1879
Yep, thanks for the references!

[2018-10-29 10:17] #1879 closed

[2018-10-31 19:11] brianblakely commented on #1392
This would be so handy.  Babel REPL is my preferred scratchpad, and that work almost always involves logging.

[2018-11-02 15:20] monkindey opened #1886 "why does babel-preset-env modules option have commonjs and cjs"
hi, I am confused by the `cjs` modules option in https://github.com/babel/website/blob/master/docs/preset-env.md. And I saw the [source](https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/module-transformations.js#L5), is it same with `commonjs` ?

[2018-11-02 16:52] nicolo-ribaudo commented on #1886
Yeah, it's an alias.

[2018-11-03 07:33] monkindey commented on #1886
Can we clarify it in the doc?

[2018-11-05 20:44] existentialism commented on #1886
@monkindey happy to take a PR that helps clarify this, and for ref, this is the PR where it was added:

https://github.com/babel/babel/pull/7283

[2018-11-08 12:57] monkindey commented on #1886
@existentialism Thanks! Land in https://github.com/babel/website/pull/1888

[2018-11-09 07:37] joe223 opened #1889 "`transform` is not an asynchronous function ?"
In https://github.com/DefinitelyTyped/DefinitelyTyped/blob/9039892f8ea3823b0a37d2b9764ba413a9eb6aa9/types/babel__core/index.d.ts#L302

We can see:
[code]
But, documentation said that `transform` is asynchronous :
https://github.com/babel/website/blob/master/docs/core.md

[code]
Testing with my code，**`transform` is not an asynchronous function**.

Some information would be helpful:
[code]

[2018-11-09 08:00] nicolo-ribaudo commented on #1889
It should be used as an async function, but it can be used synchronously for backward compatibility. If you want a sync function, you should use `transformSync`

[2018-11-09 09:18] joe223 commented on #1889
So, It is necessary to update types declare file  [index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/9039892f8ea3823b0a37d2b9764ba413a9eb6aa9/types/babel__core/index.d.ts#L302) .

[2018-11-09 10:52] Volune opened #1890 "Wrong documentation for option sourceFileName"
The current documentation for sourceFileName option is:

According to the code: https://github.com/babel/babel/blob/master/packages/babel-core/src/transformation/normalize-opts.js#L20
It should be the basename of `opts.filenameRelative`

[2018-11-09 11:13] nicolo-ribaudo commented on #1889
Yes, but that typings aren't maintained by us :slightly_smiling_face:
Maybe you could open a PR? :pray:

[2018-11-09 12:38] xtuc commented on #1889
Since we don't maintain TypeScript, there's nothing actionable here I guess.

[2018-11-09 12:38] #1889 closed

[2018-11-09 12:39] xtuc commented on #1890
Good catch, would you mind send a PR?

[2018-11-12 03:33] #1890 closed

[2018-11-15 02:54] #1886 closed

[2018-11-17 22:10] framerate opened #1897 "Website doesnt have updated docs for CLI"
Just hit a major problem trying to setup a new project with Babel 7

github:

![image](https://user-images.githubusercontent.com/74291/48666216-6d8e1700-ea72-11e8-8ed2-10f51acda011.png)

Website:

![image](https://user-images.githubusercontent.com/74291/48666219-7b439c80-ea72-11e8-9bc1-47eff9d4d42b.png)

https://babeljs.io/setup#installation

The website is making users install babel-cli @6 which

[2018-11-19 13:18] ymschaap commented on #1826
Closing this for PR #1834

[2018-11-19 13:18] #1826 closed

[2018-11-23 09:59] ricardobeat opened #1901 "REPL still on 6.26.0"
The 'Try it out' link takes you to https://babeljs.io/repl which is still at v6.26; most recent plugins require v7 (ex optional chaining).

https://babeljs.io/repl/build/master/ is already at 7.1.6.

[2018-11-28 11:28] oMaten opened #1903 "How to set option of plugin-proposal-pipeline-operator"
After i add plugin `@babel/plugin-proposal-pipeline-operator`, there is no option choice for me.
The error hint as follow.
![image](https://user-images.githubusercontent.com/13043118/49148858-84bae780-f343-11e8-8543-6eabe57bdd8a.png)

[2018-11-28 11:43] nicolo-ribaudo commented on #1903
I will add the option to the UI as a follow up to https://github.com/babel/website/pull/1816

[2018-11-28 11:47] oMaten commented on #1903
@nicolo-ribaudo Thanks for reply

[2018-12-03 02:52] oMaten opened #1905 "Error hint of `@babel/plugin-proposal-class-properties`"
Error hint `[BABEL] /repl: You gave us a visitor for the node type PrivateName but it's not a valid type` occurred after i add plugin `@babel/plugin-proposal-class-properties`.

[2018-12-07 16:29] hzoo opened #1911 "test"
test

[2018-12-08 00:08] #1911 closed

[2018-12-13 11:53] lll000111 commented on #1860
Related issue? https://github.com/babel/website/issues/1819 "Decorator decoratorsBeforeExport should be required"

[2018-12-18 10:58] mixtur commented on #1901
This link worked for me. https://babeljs.io/repl#?version=7.2.2

Though it would be nice if I could switch between babel versions in repl.

[2018-12-19 06:16] nicolo-ribaudo commented on #1901
Try to delete the cache/cookies.

[2018-12-19 12:10] creeperyang commented on #1901
@nicolo-ribaudo it works.

However the `https://babeljs.io/repl` still broken now. And it seems that `unpkg ` will response `404` for the url `https://unpkg.com/@babel/standalone@7.2.0/index.js`.

[2018-12-19 12:19] nicolo-ribaudo commented on #1901
Thank you for investigating; it is a publishing problem probably. I will fix it in a few days.

[2018-12-20 11:11] nicolo-ribaudo commented on #1901
@creeperyang That url seems to be working now, could you test it? Also, it should be `https://unpkg.com/@babel/standalone@7.2.0/babel.js` and not `https://unpkg.com/@babel/standalone@7.2.0/index.js`.

[2018-12-20 11:30] nicolo-ribaudo commented on #1901
`index.js` never existed.

[2018-12-21 11:09] babel-bot opened #1923 "An error occured while loading Babel :("
EDIT (@nicolo-ribaudo): We have identifier the issue and reported it upstream (https://github.com/unpkg/unpkg.com/issues/162). If you are affected, please give a :+1: to that issue and, if requested, give any information that could help fixing it!

Note: Different people are affected but not everyone, and part of the discussion is at https://github.com/babel/website/issues/1901.

---

Original iss

[2018-12-22 23:43] littledan opened #1927 "Improve visibility of `useBuiltIns: "entry"` on `@babel/polyfill` documentation"
The [docs for `@babel/polyfill`](https://babeljs.io/docs/en/babel-polyfill) have some easily copy-paste-able lines that show how to directly import `@babel/polyfill`, but to get to the explanation of how to pass `useBuiltIns: "entry"`, you have to click to another page.

Anecdotally, some people might be using `@babel/polyfill` directly without `useBuiltIns`, which is unfortunate, as it significan

[2018-12-23 15:33] tjcrowder opened #1928 "The "7.1.0" CLI setup pages have outdated npm commands, names"
In the [setup documentation](https://babeljs.io/setup#installation) which shows it's for "7.1.0" at the moment, when you click the CLI option, it's a mix of v6 naming and v7 naming. It has this `npm` command:

[code]

and shows this `devDependencies`:

[code]

but later when discussing the `env` preset, it uses the v7 names:

[code]

[code]

The initial installation should be:

[code]

showing

[c

[2018-12-25 03:06] zy445566 opened #1929 "An error occurred while loading Babel :("
![1](https://user-images.githubusercontent.com/14976489/50410617-1c253480-0835-11e9-9127-30350831703b.png)
url:https://babeljs.io/repl
cdn url:https://unpkg.com/babel-standalone@6.26.0/index.js

[2018-12-25 08:00] nicolo-ribaudo commented on #1929
Could you provide what I asked for at https://github.com/babel/babel/issues/9223#issuecomment-449360287?

[2018-12-25 09:39] zy445566 commented on #1929
@nicolo-ribaudo
I don't know why, but now it's ok。

[2018-12-25 09:39] #1929 closed

[2018-12-27 07:10] saranshkataria opened #1931 "Unable to run project on windows"
When I try and run the setup locally, I keep getting errors. A couple of initial ones were that NODE-ENV cannot be set directly in windows, it is used as SET NODE_ENV=production. Similarly, cp does not exist in windows. It should be -cmd copy and so on. Not sure if a third party package is used for windows checks or how it should work ideally, would be happy to send in PR's if get some help in poi

[2018-12-27 09:34] xtuc commented on #1931
Where did you see `NODE-ENV`? it should be `NODE_ENV `.

I agree that we should use something portable, Node based. Do you have a suggestion?

[2018-12-27 10:02] nicolo-ribaudo commented on #1931
Would something like `cygwin` or `msys2` work to setup babel on windows?

[2018-12-27 15:44] #1928 closed

[2018-12-28 01:36] saranshkataria commented on #1931
WSL and cygwin would be workarounds, not solving the exact solution. I agree with @xtuc that it should be something node based. [Cross Env](https://www.npmjs.com/package/cross-env) is one possible solution which I have found that seems to work across platforms.

For copying, webpack-copy-plugin should do the job I think?

[2018-12-28 04:51] fiddlerwoaroof commented on #1901
https://babeljs.io/repl still 404s for me.

[2018-12-28 21:47] nicolo-ribaudo commented on #1923
Yeah actually the only missing information is https://github.com/babel/babel/issues/9223#issuecomment-449360287

[2018-12-29 01:12] isiahmeadows commented on #1923
@nicolo-ribaudo I can repro it 100% of the time in an incognito window, and here's a screenshot of my devtools console.

![screen shot 2018-12-28 at 8 10 05 pm](https://user-images.githubusercontent.com/4483844/50531704-cb376980-0adc-11e9-9a7b-d12ff7118801.png)

Any more information necessary?

[2018-12-29 23:55] fiddlerwoaroof commented on #1901
@nicolo-ribaudo is this what you need?

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/808745/50543099-08a20280-0b82-11e9-9153-256ea45542a6.png">

<img width="906" alt="image" src="https://user-images.githubusercontent.com/808745/50543101-15bef180-0b82-11e9-8858-dcaf6fd393ce.png">

[2018-12-30 08:00] nicolo-ribaudo commented on #1901
Yes thank you!
Out our curiosity, if you go to `https://unpkg.com/babel-standalone@6.26.0` in a new tab, does it 404?

[2018-12-31 02:46] ReeganExE commented on #1901
_"Cannot find "/index.js" in babel-standalone@6.26.0"_

![image](https://user-images.githubusercontent.com/7277418/50553798-d955d780-0ce0-11e9-831d-cd2c85ee9697.png)

[2018-12-31 08:37] nicolo-ribaudo commented on #1901
Thank you. It is a big with unpkg: `https://unpkg.com/babel-standalone@6.26.0` should redirect to `https://unpkg.com/babel-standalone@6.26.0/babel.js`. I'll report it to them and keep you updated.

[2018-12-31 08:51] nicolo-ribaudo commented on #1923
Thank you all for your help, it is a big with unpkg (https://github.com/unpkg/unpkg.com/issues/162). I will leave this issue open until it is fixed.

[2018-12-31 13:50] nicolo-ribaudo commented on #1901
Thank you all for your help. I'm marking all the comments on this issue as off-topic since this is about upgrading the Babel version in the repl. If you have anything else to say, please use https://github.com/babel/website/issues/1923

[2019-01-01 02:43] aguibou32 commented on #1929
Im having the same error "An error occurred while loading Babel :("
How did you fix it ??

[2019-01-01 09:12] nicolo-ribaudo commented on #1929
Not fixed yet - #1923

In the meantime you can use https://babeljs.io/build/master

[2019-01-01 19:55] aguibou32 commented on #1901
@ricardobeat Thank you it worked for me !

[2019-01-08 10:58] oyilmaztekin opened #1934 "@babel/traverse documentation needs improvement"
We can use the `traverse` method with the `enter` method and also the object property name like `FunctionDeclaration` regarding **@babel/types**. There is no information about this usage in this repo besides babel-handbook that you refer.

[code]
I want to add this usage and its explanation if you allow.

https://github.com/babel/website/blob/master/docs/traverse.md

[2019-01-09 01:09] suchipi commented on #1934
Yes please!

[2019-01-09 13:22] oyilmaztekin commented on #1934
I created the [**PR**](https://github.com/babel/website/pull/1938) for this issue but I cannot see changes at the [deploy preview](https://deploy-preview-1938--babel.netlify.com). Have I done something wrong?

[2019-01-09 13:38] oyilmaztekin opened #1939 "yarn.lock missing in .gitignore"
Local logs are blocking by .gitignore. But there is no rule defined about yarn logs. It needs to be added to .gitignore.

[2019-01-09 13:45] nicolo-ribaudo commented on #1939
`yarn.lock` and `package-lock.json` should be committed, not ignored.

[2019-01-09 13:50] oyilmaztekin commented on #1939
@nicolo-ribaudo I see. So you're ignoring only the npm logs in [.gitignore](https://github.com/babel/website/blob/master/.gitignore#L33).

[2019-01-09 13:53] nicolo-ribaudo commented on #1939
It is because this repository is meant to be used with `yarn install`. Having both of them can only lead to things getting out of sync.

[2019-01-09 13:54] oyilmaztekin commented on #1939
Thank you for the information.

[2019-01-09 13:54] #1939 closed

[2019-01-09 14:50] oyilmaztekin commented on #1939
I found a good explanation [here] (https://www.engineyard.com/blog/composer-its-all-about-the-lock-file) which explains clearly why we need the *.lock file in our project.

[2019-01-10 02:04] suchipi commented on #1934
Hmm, I don't know why it's not working :( someone else might

[2019-01-10 06:38] oyilmaztekin commented on #1934
the traverse.MD file in versioned_docs/version-7.0.0 has been changed too. Now problem solved. 🙂

[2019-01-10 09:04] oyilmaztekin opened #1942 "There are unresolved links in md files"
When I monitored my [deploy logs](https://app.netlify.com/sites/babel/deploys/5c37077d8e1a810007e293bb) I saw warnings about unresolved links in md files. These links are broken and give errors that 404 not found

Some of the links that don't work listed below.

https://babeljs.io/docs/en/faq ( loose mode )
https://babeljs.io/docs/en/babel-template#options (babel parser)

[2019-01-10 10:38] oyilmaztekin commented on #1942
By the way, in the docs folder, every link has been written like `link.md#section`. I think the docusaurus doesn't resolve to the .md extensions for old versions especially 7.0.0 and 6.26.3. Because most of the link that involved .md extension works very well.

[2019-01-10 11:56] #1934 closed

[2019-01-16 03:25] hzoo opened #1949 "On any syntax proposal page, recommend using the proposal plugin"
Via: https://twitter.com/cassidoo/status/1085350422884245504

I thought we did this before but we don't (or it got removed when we moved the docs repo)? **EDIT**: yeah we did! https://old.babeljs.io/docs/plugins/syntax-object-rest-spread/

![image](https://user-images.githubusercontent.com/588473/51224668-fe6b5c80-1914-11e9-91b7-cee22f455199.png)

Under: https://github.com/babel/website/blob/maste

[2019-01-16 09:19] nicolo-ribaudo commented on #1949
Exactly :+1:
Also, when you will commit the changes, it will probably also update the old docs automatically

[2019-01-16 18:06] hzoo commented on #1949
I would change the wording "If you want to actually be able to compile" seems wordy. I can't really think of a reason you would normally ever use a syntax plugin anyway honestly, only if it's a syntax that will be compiled by something else (webpack) so like dynamic-import. But there we should just do it for you in babel-loader.

[2019-01-16 18:09] existentialism commented on #1949
Maybe something like:

[2019-01-16 18:20] doms commented on #1949
That's true, I was just trying to phrase an example of what I would be attempting!

Oooh, this sounds good, I'll use this!

[2019-01-16 18:47] doms commented on #1949
@hzoo @existentialism

Just about done with the task, and have a few questions!

Per the [contributing guide](https://github.com/babel/website#contributing-to-the-website), for every change in `docs/`, should I also be updating `versioned-docs/` ?

If yes, would it be `7.0.0` (since that directory has all the files that I've made changes to in `docs/`) ?

[2019-01-17 03:06] #1949 closed

[2019-01-24 15:22] alejandroiglesias commented on #1292
Indeed needed. Some of the plugins cannot be tested without any configuration (like `babel-plugin-strip-module`).

[2019-02-05 05:44] CoeJoder commented on #1627
Does not work; getting same error.  IE 11.

[2019-02-05 09:13] #1942 closed

[2019-02-07 16:10] rubenspgcavalcante opened #1961 "Update babel-register to @babel/register on "Using Babel" page"
On the ["Using Babel" page](https://babeljs.io/en/setup#installation), when choosing `require hook` it shows to install the version 6 of `babel-register` instead of the scoped version 7 `@babel/register` :
<img width="864" alt="screenshot 2019-02-07 at 17 07 23" src="https://user-images.githubusercontent.com/739913/52424733-e2657000-2afa-11e9-8651-df3db4c12842.png">
The [usage docs](https://babelj

[2019-02-07 19:18] #1901 closed

[2019-02-09 05:03] balzzac commented on #1627
Try it out doesn't work, I get the same error in Chrome Canary Version 74.0.3698.0 (Official Build) canary (64-bit) and Chrome Version 72.0.3626.96 (Official Build) (64-bit)

[2019-02-09 16:29] #1793 closed

[2019-02-09 23:08] #1923 closed

[2019-02-11 13:03] StephanBijzitter opened #1966 "proposal-private-methods has no documentation"
## Bug Report

**Current Behavior**
https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-private-methods contains a link to https://babeljs.io/docs/en/next/babel-plugin-proposal-private-methods.html for documentation, but this leads to a 404.

[2019-02-13 17:54] dimitarnestorov opened #1968 "REPL: Plugin @babel/plugin-proposal-optional-chaining could not be loaded"
After adding `@babel/plugin-proposal-optional-chaining` all I get is this:
![image](https://user-images.githubusercontent.com/8790386/52732511-147a4480-2fc9-11e9-9c64-1fbdbdcd3c50.png)

[2019-02-13 18:22] nicolo-ribaudo commented on #1968
Bundle.run gives the following error: https://bundle.run/@babel/plugin-proposal-optional-chaining@7.2.0

[2019-02-15 21:28] #1966 closed

[2019-02-15 21:55] existentialism opened #1973 "Document the `all` option in preset-flow and flow-strip-types"

[2019-02-20 14:37] existentialism opened #1974 "Add documentation for Partial Application Syntax: Stage 1"
Ref: https://github.com/babel/babel/pull/9343, https://github.com/babel/babel/pull/9474

- [ ] @babel/parser - Add `partialApplication` plugin
- [ ] @babel/types
- [ ] @babel/plugin-syntax-partial-application
- [ ] @babel/plugin-proposal-partial-application

[2019-02-24 07:25] #1477 closed

[2019-02-25 17:02] mohsen1 opened #1976 "[REPL] Query string does not include plugins"
I have this URL:

[code]

With two plugins:
  * typescript
  * idx

None of the plugins are loaded when I paste the URL in a new window.

Result of `copy(JSON.stringify(Array.from(new URLSearchParams(window.location.hash.substr(1)).entries()), null, 2))`:

[code]

[2019-02-25 23:08] #1973 closed

[2019-02-26 17:40] #1968 closed

[2019-03-08 15:17] microbouji commented on #1897
This was fixed in https://github.com/babel/website/pull/1930

[2019-03-08 15:17] #1897 closed

[2019-03-08 15:18] microbouji commented on #1843
Don't remember what version of docusaurus fixed this, but it's now centered.  Feel free to reopen if this was not just about centering.

[2019-03-08 15:18] #1843 closed

[2019-03-09 18:45] ewolfe opened #1985 "Hard to tell which page you're on"
I want to propose tweaking the CSS of the active item to make it more obvious that it's the current page. Here's a sample before and after:

<img width="1680" alt="temp" src="https://user-images.githubusercontent.com/32533397/54075800-501ace00-4258-11e9-94d7-6ea5caeb55e9.png">

I'd be happy to open a pull request to implement this.

[2019-03-09 20:12] loganfsmyth commented on #1985
Looks good to me!

[2019-03-09 22:47] ewolfe commented on #1985
I realized it might be better to make this change upstream with docusaurus. I'll close this and go open a pull request there 😀

[2019-03-09 22:47] #1985 closed

[2019-03-14 02:00] loganfsmyth opened #1986 "The MatchPattern docs should clarify that Babel's glob implementation is extremely basic"
Ideally https://babeljs.io/docs/en/options#matchpattern should have more examples of what does and does not work as a glob match and that it is not simply passing through to the `glob` module.

[2019-03-19 05:21] peoro opened #1992 "Making yarn optional or a dependency"
This is probably a very nitpicky issue, sorry for that.

In order to build this project, `yarn` needs to be externally installed.

Wouldn't it be better to either make yarn optional (it would require changing 2 lines in the `package.json`), or install it via npm as a dev dependency?

[2019-03-20 18:55] ahtee commented on #1992
the `yarn.lock` file will pull from the cached repositories and acts like `package-lock.json` but package lockfile wasn't checked in (since you shouldnt have both package lock and yarn lock. That's basically the reasoning, from what I understand based on `yarn` vs `npm`

[2019-03-26 12:58] thecotne opened #2002 "there are no docs for babel 7.4"
and i could not find any issue to track progress for babel 7.4 docs

<img width="1258" alt="Screenshot 2019-03-26 16 56 54" src="https://user-images.githubusercontent.com/1606993/54998693-36171480-4fe8-11e9-99ae-88485abb6537.png">

[2019-03-26 16:39] #2002 closed

[2019-03-28 03:26] babel-bot opened #2006 "Better documentation and explanation of useBuiltIns in @babel/preset-env"
Original issue submitted by @modestotech in https://github.com/babel/babel/issues/9185

## Feature Request

**Is your feature request related to a problem? Please describe.**
I'm having troubles wrapping my head the implications of the `useBuiltIns` option in`@babel/preset-env`. I've read the [documentation](https://babeljs.io/docs/en/babel-preset-env) and can understand the concepts, but the impl

[2019-04-03 12:32] #1961 closed

[2019-04-04 14:20] SetTrend opened #2008 "Improve documentation on option settings"
## Feature Request

I feel it's utterly hard to grasp from the documentation where and how to set any of the Babel options.

Just reading something like:

[code]

isn't helpful. The context describing where to put this information is missing throughout the documentation.

### Describe the solution you'd like

Can we have a dynamic solution, with a drop-down box replacing the "JSON" title.

The dro

[2019-04-04 14:20] existentialism commented on #2008
@SetTrend really like the idea, care to try and send a PR?

[2019-04-04 14:39] SetTrend commented on #2008
I'm not familiar enough with Babel to submit a PR. I can create the web component, but I'm not sure about a few Babel specific things:

- Is every setting always applicable to all configuration files and the command line? Or are there restrictions?

   In the latter case I'd need to add an attribute that'd be filtering the available choices per configuration setting.

- I don't have any knowledge

[2019-04-04 15:46] nicolo-ribaudo commented on #2008
(Note: We currently use React, not web components)

[2019-04-04 18:35] #1976 closed

[2019-04-05 08:50] SetTrend commented on #2008
I'll give it a try. Though, before beginning, where would you want me to add my React component to? And what's the suggested name? (see my questions above)

Do you want me to create a PR anyway?

[2019-05-05 17:02] localhostdotdev opened #2017 "link to sprockets integration is incorrect"
page: https://babeljs.io/docs/en/next/tools/rails/usage
corresponding file: https://github.com/babel/website/blob/master/docs/tools/rails/usage.md

links to https://babeljs.io/docs/en/next/tools/rails/usage#installation,

actual html:

[code]

js error:

[code]

there is no `.tools-button` on the page.

nothing on archive.org

would be cool to have a way to integrate without webpacker, anyway http

[2019-05-06 10:26] microbouji commented on #2017
Thanks for reporting. Do you remember how you got to that page?

It is unintended for that md file to be accessible via https://babeljs.io/docs/en/next/tools/rails/usage. It was only meant to be internally used to populate the [setup page](https://babeljs.io/setup). There you can find a separate section for sprockets which uses one of the newer projects.

I guess the easiest way for us to fix this

[2019-05-06 12:26] localhostdotdev commented on #2017
I think from googling "babel sprockets rails":

<img width="300" alt="Screen Shot 2019-05-06 at 2 24 35 PM" src="https://user-images.githubusercontent.com/47308085/57224769-b6c72880-700a-11e9-927d-8629b6ad1f98.png">

oh cool so `sprockets-bumble_d` is the recommended way

[2019-05-07 21:58] #2017 closed

[2019-05-15 21:14] cs1717c opened #2026 "What a fag: Please be respectful when interacting with other people."
Please be respectful when interacting with other people.

_Originally posted by @nicolo-ribaudo in https://github.com/babel/website/pull/2024#issuecomment-491809569_

[2019-05-15 21:17] DVLP commented on #2026
You're spreading misinformation that "let is new var" which is mindlessly copied by bloggers. Yeah, you can silence my opinion but it will always be visible as neglected in git history and my fork during judgement day.

[2019-05-15 21:38] loganfsmyth commented on #2026
@DVLP We are not silencing your opinion, but we are not required to agree with your, take the actions you demand of us, or provide you a platform for your opinions. Your initial post was extremely pushy and confontational so it was unsurprisingly ignored and closed.

[2019-05-15 21:38] #2026 closed

[2019-05-16 09:25] danez commented on #1710
I updated the deprecation notice.

[2019-05-16 09:25] #1710 closed

[2019-05-18 20:51] mathiasbynens opened #2028 "Minimal “icon” version of Babel logo in SVG format"
Hey y’all ♥

I often find myself wanting to mention Babel when talking about feature support. E.g.

This works well in image form, since browser logos are mostly used as icons already and the Node.js icon can easily be extracted from its logo:

![](https://user-images.githubusercontent.com/81942/57974829-d65c3a80-7994-11e9-8243-d3b347ce1ffc.png)

However, the Babel logo does not have an official i

[2019-05-21 15:32] hzoo commented on #2028
I think we can just edit the https://github.com/babel/logo/blob/master/babel.ai or psd file and then export a new svg? Could probably just add that to the repo. @existentialism said he could do it

[2019-05-21 15:45] existentialism commented on #2028
![babel-logo-minimal](https://user-images.githubusercontent.com/56288/58110630-8a3c1080-7bb5-11e9-8f16-afa391dc4223.jpg)

As SVG:

[babel-logo-minimal.svg.zip](https://github.com/babel/website/files/3203390/babel-logo-minimal.svg.zip)

[2019-05-21 16:55] mathiasbynens commented on #2028
Awesome!

[2019-05-21 18:28] hzoo commented on #2028
I do kinda want an icon logo at some point tho 😁

[2019-05-21 20:37] xtuc commented on #2028
Cool, thanks @existentialism. Could we also please commit it into our logo repo?

[2019-06-01 00:42] Sceat commented on #1292
or pipelines
![image](https://user-images.githubusercontent.com/11330271/58741213-36d08a80-841f-11e9-8921-48b20e9b7f06.png)

[2019-06-03 17:45] cjones26 opened #2039 "Information regarding @babel/polyfill deprecation unlisted in docs"
After implementing @babel/polyfill in our application, we ended up discovering the following blog post:

[https://babeljs.io/blog/2019/03/19/7.4.0](https://babeljs.io/blog/2019/03/19/7.4.0)

Which states:

[code]

The core-js team also mentions this in the document here:

[https://github.com/zloirock/core-js/blob/master/docs/2019-03-19-core-js-3-babel-and-a-look-into-the-future.md#babel](https://g

[2019-06-03 20:39] existentialism commented on #2039
@cjones26

It's there:

![image](https://user-images.githubusercontent.com/56288/58832859-7eb90280-8615-11e9-8559-a9675fa9569a.png)

But it looks like it's not being rendered out by docusaurus... will look into it in a bit.

[2019-06-06 03:26] #2039 closed

[2019-06-16 18:43] tanhauhau opened #2045 "How browser list gives different plugin"

[2019-06-17 00:41] 7rulnik opened #2046 "Could not find plugin "syntax-json-strings" in REPL"
Seems that it's a problem with preset-env and modern targets like node@12 or latest chrome.
I see this error on the bottom of REPL:

[code]

[Reproduction link](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=usage&spec=false&loose=false&code_lz=MYewdgzgLgBATjAvDA3gOgwMxCAvgbiA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&t

[2019-06-24 10:58] lidoravitan commented on #1852
is still help wanted?

[2019-07-02 16:18] giuseppeg commented on #1276
@hzoo maybe we can record an episode for the Babel Podcast? https://twitter.com/left_pad/status/1146069623940558849

[2019-07-03 21:59] zakhenry commented on #1903
@nicolo-ribaudo has this been implemented separately? I'd like to try the pipeline operator out :)

[2019-07-03 23:45] nicolo-ribaudo commented on #1903
Yes! If you enable the stage-1 preset in the repl it should appear a dropdown where you can choose "smart" pipelines. Very soon it will also support F# pipelines.

[2019-07-04 23:37] benmccann opened #2054 "Unclear documentation for babelrc option"
[The docs for babelrc option](https://babeljs.io/docs/en/options#babelrc) do not clearly specify what happens when `babelrc: false`. Does it stop searching up the directory tree and look just for a single file or does it stop using babelrc files altogether?

It's not behaving the way I'd expect and I'm not sure if that's because it's broken as [many people have reported](https://github.com/babel/b

[2019-07-05 04:40] nicolo-ribaudo commented on #2054
It should disable loading of any babelrc file. Which behavior are you seeing?

[2019-07-05 05:12] benmccann commented on #2054
Ok. I have a babelrc and when I change its contents, it still has an effect eventhough I've set `babelrc: false`. [Other users have reported `babelrc: false` not working as well](https://github.com/babel/babel-loader/issues/464#issuecomment-411390976)

[2019-07-07 09:41] nicolo-ribaudo opened #2055 "Document `@babel/transform-runtime` `version` option"
https://github.com/babel/babel/blob/406a65c894624f8d07d6642d23c55b9a04197a75/packages/babel-plugin-transform-runtime/src/index.js#L42

[2019-07-10 08:04] stof opened #2057 "Wrong version in the topbar and the version page"
The topbar shows 7.4.0 as the version (and the version page as well), while the latest release is 7.5

[2019-07-10 14:18] existentialism commented on #2057
@stof thanks for the issue, I'm finishing up the docs release in a bit

[2019-07-11 16:23] #2057 closed

[2019-07-14 09:06] #1931 closed

[2019-07-20 15:19] GeorgeCalvert opened #2069 "Why not just "?" for the plugin-proposal-optional-chaining operator?"
The proposed operator for optional-chaining is `?.`, affording syntax like `myObject?.[myVariableProperty]`.  Why not simply the `?`?  Lookahead should see `?` followed by any operator as optional chaining.

[2019-07-22 17:42] existentialism commented on #2069
@GeorgeCalvert you'll want to head over to https://github.com/tc39/proposal-optional-chaining for a bit of explanation and discussion, as Babel just has an implementation of what's been proposed.

[2019-07-22 17:43] #2069 closed

[2019-07-22 17:51] GeorgeCalvert commented on #2069
@existentialism -- thanks for the referral.

[2019-07-26 18:17] k-grube opened #2076 "Docs: `babel-plugin-transform-member-expression-literals` and `babel-plugin-transform-property-literals` reference the wrong package"
From here:
https://babeljs.io/docs/en/plugins

ES3 section
https://babeljs.io/docs/en/babel-plugin-transform-member-expression-literals
https://babeljs.io/docs/en/babel-plugin-transform-property-literals

These should reference `@babel/transform-member-expression-literals ` and `@babel/transform-property-literals`

[2019-08-07 15:20] deificx opened #2079 "t.tsUnknownType is documented but doesn't exist"
## Bug Report

**Current Behavior**
Looking at the documentation for type there is a [tsUnknownType](https://babeljs.io/docs/en/babel-types.html#tsunknowntype), but calling the function gives a `TypeError: t.tsUnknownType is not a function`

**Input Code**
[code]

**Expected behavior/code**
I believe the output should be `unknown`.

**Babel Configuration (.babelrc, package.json, cli command)**
N/A

[2019-08-08 08:39] deificx commented on #2079
I will take a look at fixing that, ended up seeing if there are other mistakes at the same time, so will be a slightly bigger change then.

[2019-08-16 11:41] fforw opened #2083 "Documentation: wrong rlwrap command line"
On https://babeljs.io/docs/en/next/babel-node.html the syntax to start with rlwrap is wrong.

It must be

[code]
and not the other way around. Same for the second example

[2019-08-16 15:08] dsab123 opened #2084 "Cmd+L/Ctrl+L does not move cursor to address bar in REPL"
On the REPL, hitting the `Cmd`+`L` on Mac or or `Ctrl`+`L` on Windows does not move the cursor to the address bar.

(From a quick scan of the README and slack community, I did not see any contributing guidelines; if there are any I'm happy to update this issue accordingly.)

[2019-08-16 18:56] JLHwung commented on #2083
This issue would be fixed by #2070

[2019-08-25 23:55] #2083 closed

[2019-08-31 10:29] mjangir opened #2090 "Does any of the babel presets include @babel/plugin-proposal-class-properties?"
Does any of the babel presets include plugin `@babel/plugin-proposal-class-properties` or we just have to install it separately and configure with babelrc? Also how is it decided which plugins should be bundled in a preset and which are not?

[2019-08-31 14:53] nicolo-ribaudo commented on #2090
Official presets only included standard ECMAScript features (class properties are still a proposal).
You can create a custom preset, or search an existing one on npm.

[2019-08-31 14:53] #2090 closed

[2019-09-03 16:57] jakub-g commented on #1868
FWIW it's still broken (unchecking `minify` fixes the issue though)

[2019-09-03 17:03] jakub-g commented on #1868
FWIW it's still broken (unchecking minify fixes the issue though)

Maybe as a quick fix the plugin should be removed from REPL until the issue is fixed properly?
Looks like removing those lines should do the trick: https://github.com/babel/website/blob/master/js/repl/PluginConfig.js#L75-L80

[2019-09-05 18:17] t0lkman opened #2095 "null coalescing"
When I use babel.js online editor (try mode) I had to turn on stage-0 to support `null coalescing` while the proposal states it's already on stage-3 https://github.com/tc39/proposal-nullish-coalescing

is the website not updated yet or the feature in reality in stage-0?

[2019-09-09 01:38] Ardeshir81 opened #2096 "FAQ section "feels" a little outdated"
Hi. I'm reading through the whole docs and I just reached FAQ page. Until here everything was about babel@7 and how it is changed from babel@6.

But in FAQ section, everything is about babel@6 & babel@5

I believe this section is actually missed.

[2019-09-10 09:36] microbouji commented on #2076
Seems like this was fixed in #2087

[2019-09-10 09:36] #2076 closed

[2019-09-11 17:50] microbouji opened #2098 "Need to publish v7.6.0 of docs"
Let's do this!

[2019-09-16 08:00] microbouji commented on #2098
Closed by #2099

[2019-09-16 08:00] #2098 closed

[2019-09-23 09:07] apollux opened #2205 "Awaiting a non promise value results in error."
## Bug Report

**Current Behavior**
Awaiting a non promise value results in error: Unhandled rejection TypeError: A value undefined was yielded that could not be treated as a promise

**Input Code**
[code]

**Expected behavior/code**
The non promise return value of noop should be wrapped in a resolved promise.

**Babel Configuration (.babelrc, package.json, cli command)**
[code]

**Environment**
-

[2019-10-01 09:06] tanhauhau commented on #1819
Fixed in https://github.com/babel/website/pull/1862

[2019-10-01 09:06] #1819 closed

[2019-10-01 13:40] sustained commented on #2028
The white background makes it unusable on dark themes. :frowning:

[2019-10-02 02:16] existentialism commented on #2028
@sustained will the svg work for you?

[2019-10-02 09:11] sustained commented on #2028
Didn't realise the SVG had no background colour unlike the PNG - that works for me.

Both should probably be that way though, non-white backgrounds are common! And making transparent PNGs isn't too much effort.

[2019-10-03 01:48] esprehn commented on #2055
Is it possible to get this merged? It's a footgun right now that folks end up with the objectSpread2 helper inlined into every module that uses spread which increases the resulting JS size. If you have thousands of React components that adds up quite lot. It took a lot of digging to find the linked PR and the docs issue to realize we need a PR like https://github.com/meteor/babel/commit/49e13e75df

[2019-10-18 16:20] uen3 opened #2111 "babel-standalone no longer understands 'transform-es2015-modules-umd'"
It was possible to use babel standalone version 6 to import JSX React components as modules, like this...

[code]

In version 7, this no longer works. You can use import/export, or you can use jsx, but you can't use both; which was _the only reason I was using babel-standalone in the first place_.

And I don't see any evidence that it's eventually going to work again, or any mention of that functi

[2019-10-18 16:25] #2111 closed

[2019-10-21 18:08] JLHwung commented on #2095
As of Babel 7, all the `babel-preset-stage-*` is deprecated, you can add `proposal-null-coalescing-operator` in [REPL](https://babeljs.io/repl#?babili=false&browsers=safari%2011&build=&builtIns=usage&spec=true&loose=false&code_lz=IYAg_GIEZA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&prese

[2019-10-21 18:13] nicolo-ribaudo commented on #2095
We still maintain the stage presets in `@babel/standalone`, because they are easier to use in the REPL.
@t0lkman Do you want to open a PR to move this plugin (and the optional chaining one) from https://github.com/babel/babel/blob/4f0840ab88037fb0241a745f7e4b0f8969709ef3/packages/babel-standalone/src/preset-stage-1.js to the stage 3 file?

[2019-10-24 09:03] alexandrsmirnov93 opened #2112 "Website with documentation works not stable"
I have problem during visiting website https://babeljs.io/docs/en/
There is a error saying that browser cannot load this page. I faced with this by diffrent devices.

[2019-10-25 03:18] natew commented on #2054
I see it loading the babelrc still

[2019-10-25 09:08] nicolo-ribaudo commented on #2054
Could you share a repository which shows the bug?

[2019-10-25 15:39] JLHwung commented on #2028
A 32x32 svg version best suited for file icons / Favicon
[babel-logo-minimal-32x32.svg.zip](https://github.com/babel/website/files/3772734/babel-logo-minimal-32x32.svg.zip)

A monochormatic 32x32 svg version best suited for IDE file icons in both dark mode and light mode.
[babel-logo-monochromatic.svg.zip](https://github.com/babel/website/files/3772735/babel-logo-monochromatic.svg.zip)

[2019-10-29 17:44] #2095 closed

[2019-10-29 22:27] JessicaSachs commented on #1868
Still happening :-(

[2019-10-29 22:42] nicolo-ribaudo commented on #1868
@jakub-g Given that it's just broken and that no one is currently maintaining `@babel/minify`, I'd gladly accept a PR to remove the option.

[2019-10-30 21:46] JessicaSachs opened #2118 "Need an example babel.config.js w/ how to achieve pollution-free polyfills via core-js3"
I was very excited to use core-js3 when I found out that it supported pollution-free polyfills for String.prototype.includes + other instance methods.

According to the babel [documentation](https://babeljs.io/docs/en/babel-plugin-transform-runtime) and [release notes](https://babeljs.io/blog/2019/03/19/7.4.0#core-js-3-7646-https-githubcom-babel-babel-pull-7646), pollution-free polyfills are one o

[2019-11-06 03:42] aesyondu commented on #2046
In this [guide](https://medium.com/welldone-software/babel-js-guide-part-1-the-absolute-must-know-basics-plugins-presets-and-config-28150c199e45), [latest 10 chrome versions](https://babeljs.io/repl/#?presets=env&browsers=last%2010%20chrome%20versions&sourceType=unambiguous&code_lz=MYGwhgzhAEDKD2BbApgYXFaBvAUNae0w8AdhAC4BOArsOfJQBTEkBmAlgOYCUu--5ABbsIAOghJkAMWok67UtAC80AA5hKYRDCUA-bIX5FSEkMlEh4nRg

[2019-11-11 22:17] #1666 closed

[2019-11-14 21:29] HarrisonB opened #2127 "`plugin-transform-modules-commonjs` docs do not mention that `import`s transformed into `require`s are hoisted"
I just ran into this in setting up a testing environment with some older code that relies on globals as the plugin is recommended by the Jest documentation.

I know that this aligns with the spec but it might be nice to have a warning message.

[2019-11-14 22:07] nicolo-ribaudo commented on #2127
Maybe we can mention that they are hoisted at https://babeljs.io/docs/en/learn#modules

[2019-11-18 19:29] #2046 closed

[2019-11-26 23:13] samullman opened #2135 "Upgrading to v7"
https://babeljs.io/docs/en/v7-migration
https://github.com/babel/babel-upgrade

[code]

[2019-11-26 23:14] nicolo-ribaudo commented on #2135
Did you see https://babeljs.io/docs/en/v7-migration#scoped-packages?

[2019-11-27 00:00] samullman commented on #2135
@nicolo-ribaudo I do.

[code]

[2019-11-27 08:25] nicolo-ribaudo commented on #2135
You must use `./node_modules/.bin/babel` (which is the `@babel/core` in your package.json), or also upgrade the globally installed one.

[2019-11-27 14:42] TrevorBurnham commented on #1627
I believe this issue should be reopened. Currently, loading the "Try it out" page in IE11 yields a blank page (apart from the header) and these console errors:

<img width="343" alt="Screen Shot 2019-11-27 at 9 41 42 AM" src="https://user-images.githubusercontent.com/224895/69732795-442eaf00-10fa-11ea-80f9-5036b4396cb0.png">

[2019-11-27 16:58] samullman commented on #2135
Ah must globally install scoped package
[code]
Before upgrading
[code]

[2019-11-27 16:58] #2135 closed

[2019-12-01 08:13] pranshuchittora opened #2138 "[bug]: repl not able to fetch bundle from bundle.run"
**Description**
The `repl` page is not able to fetch the required bundle from the `bundle.run`.

**Steps to reproduce**
1. Got to repl
2. Open console or network tab of the dev tools.
3. Now select any of the settings, say `Time Travel`.

**Current Behaviour**
[code]

![Screenshot from 2019-12-01 13-52-28](https://user-images.githubusercontent.com/32242596/69911463-d78d1a80-1441-11ea-8204-b92f97a6

[2019-12-01 14:50] JLHwung commented on #2138
Could you submit an issue ticket to https://github.com/Rich-Harris/packd ? `https://bundle.run` is not hosted by babel.

[2019-12-01 20:40] #1868 closed

[2019-12-02 16:38] xtuc commented on #2138
https://bundle.run/@babel/polyfill@7 is now working

[2019-12-04 07:00] mpaarating opened #2142 "Update Optional Chaining documentation to reflect the return from undefined to true"
Per https://github.com/babel/babel/issues/10805 and the subsequent [PR](https://github.com/babel/babel/pull/10806) , When using optional delete to delete a property of a nullish base, the delete operation returns now returns true. Should a distinction be made in the docs to support this change?

[2019-12-05 22:44] JLHwung commented on #2142
@mpaarating Good catch! PR's welcome!

[2019-12-06 15:47] #2055 closed

[2019-12-09 15:30] mpaarating commented on #2142
Great, I'll start working on this ASAP!

[2019-12-13 05:53] mpaarating commented on #2142
@JLHwung After looking into the docs for `@babel/plugin-proposal-optional-chaining`, there isn't a mention of what the current behavior is (undefined return for nullish base). As such, I don't think that additional documentation need to be added. What are your thoughts?

[2019-12-13 10:58] JLHwung commented on #2142
@mpaarating I think it will be great to add a section like _delete nested properties_ because the behaviour is changed after 7.8 (to be aligned to the spec) and people may reply on the old behaviour. So it should be clarified in the docs.

[2019-12-15 13:39] JonathanDn commented on #1660
@tkrotoff  Is there an update on this issue's status? I am experiencing  difficulties similar to what you described. For example the usage of  String `.includes` is no tr transpiled by Babel with `preset-env` in IE10/11 and causes an error. And `babel-polyfill` documentation seems broken as well... What polyfill should I add?

[2020-01-05 01:45] macabeus opened #2149 "Update "property" type parameter for "optionalMemberExpression""
Currently the section for [optionalMemberExpression ](https://babeljs.io/docs/en/babel-types#optionalmemberexpression) is saying that `property` parameter could be `any`, but it isn't true anymore, as well [could be noticed on the code](https://github.com/babel/babel/blob/e9c1bce50f590c484e9ba7cc0b19caa88e66659d/packages/babel-types/src/definitions/experimental.js#L87-L88).

I think that it should

[2020-01-07 18:45] benburch93 opened #2152 "Syntax doubling with .babelrc while trying to use babel-plugin-proposal-class-properties"
All,

I am trying to include babel-plugin-proposal-class-properties in my code bundle, but I get the following error;

2020-01-07 08:19:31.593 [error][tid:NSOperationQueue 0x2817acc40 (QOS: UNSPECIFIED)][RCTCxxBridge.mm:414] Failed to load bundle(http://169.254.99.36:8081/index.bundle?platform=ios&dev=true&minify=false) with error:(index.js: Cannot find module 'babel-plugin-plugin-proposal-class-p

[2020-01-23 16:23] wujekbogdan opened #2163 "[Docs] Make it clear what dependencies should be imported when using @babel/preset-env together with useBuiltIns options"
Hi,

I've read the [`@babel/preset-env` documentation](https://babeljs.io/docs/en/babel-preset-env) several times, but I'm still not 100% sure If I get it all correctly.

To me, it seems that:

- when `@babel/preset-env` is used together with `useBuiltIns: 'usage'` then no additional dependencies need to be imported in our entry file. Babel will pick and import all the polyfills for us based on fe

[2020-02-01 11:37] Zydnar opened #2165 "Babel repl text formatting issue"
[Link to repl](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0G8BQ1oGIAe0C80AMA3CtMAPYB2EALgE4CuwVpNAFAJTKoCQVAFgJYQAdJgDUooqlRlKpEAFMhIUgHMWAcgCe6gDTQ-gkRjaToAXyQWZ1aDFzl5AdzjsiSIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=es2

[2020-02-03 16:18] tjcwilk opened #2167 "VSCode syntax highlighting extenshion link broken, returns 404"
In the babel documentation, there is a page about code editors and syntax highlighting, https://babeljs.io/docs/en/editors/.

In the section for VS Code, there is a link to a recommended extenshion for babel syntqc highlighting. The link is broken, and returns a 404. This extenshion does not exist in the visual studio marketplace. ref: https://marketplace.visualstudio.com/items?itemName=joshpeng.s

[2020-02-03 16:20] tjcwilk commented on #2167
from looking around the variouse babel VSCode extenshions, i think this one could potentially be the latest for the one previosly linked - https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel.

Suggestion would be to replace the broken 404 link, with this one.

[2020-02-06 13:46] acagastya opened #2169 "Fix link to babel-jest"
Currently, `website/website/data/tools/jest/usage.md` mentions `babel/babel-jest` repo.  However, it is archived and moved to [jest/babel-jest](https://github.com/facebook/jest/tree/master/packages/babel-jest).

That should be updated.

[2020-02-06 14:43] #2169 closed

[2020-02-06 14:44] JLHwung commented on #2167
@tjcwilk LGTM, PR is welcome.

[2020-02-06 16:17] gilly3 opened #2171 "Documentation: Getting started guide recommends deprecated plugin @babel/polyfill"
## Bug Report

**Current Behavior**

The documentation steers new users to use [`@babel/polyfill`](https://babeljs.io/docs/en/babel-polyfill), which is deprecated.
- In the "[What is Babel?](https://babeljs.io/docs/en/index.html)" page, the first link goes to `@babel/polyfill`.
- Step one of the [usage guide](https://babeljs.io/docs/en/index.html) recommends installing `@babel/polyfill`.

**Input

[2020-02-15 18:56] sidntrivedi012 opened #2179 "Add typescript code-blocks"
In the screenshot below, we can see the input typescript code is marked as javascript in the code block. This may cause confusion to the new contributors. Is there any way to change it? Do we have to manually change the markdown everywhere?

Screenshot source - https://babeljs.io/docs/en/babel-plugin-transform-typescript

![Screenshot 2020-02-15 at 11 45 07 PM](https://user-images.githubuserconten

[2020-02-21 18:54] #2167 closed

[2020-02-28 14:04] d3pi opened #2186 "Example in “plugin-transform-property-literals” documentation is wrong"
@babel/plugin-transform-property-literals will add quotes for key which name is  es3 reserved word. A correct example:

IN
[code]

out
[code]

[2020-03-01 15:18] carolstran opened #2188 "More inclusive language in docs"
:wave: Sorry I know I'm ignoring all of your well-thought out templates, but I wasn't sure where this would land! Here me out...

I noticed that there are a couple of instances of words "simply" and "easily" in your documentation/code comments. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facin

[2020-03-01 16:07] nicolo-ribaudo commented on #2186
Dp you want to open a PR? :pray:

[2020-03-16 08:32] lizhongit opened #2206 "How to running babel-node with --max-http-header-size"
I wanna running [Verdaccio](https://github.com/verdaccio)，But encounter an error:

[code]

I know it about NodeJS's default header size limit in latest version, one way should be running node command with --max-http-header-size to adjust default header size to up.

So how can I running babel-node with  --max-http-header-size same with node command?

[2020-03-17 04:00] lizhongit commented on #2206
@nicolo-ribaudo thanks, I'm using babel-node when I running Verdaccio as a service on my computer

here is that starting command

[code]

[2020-03-17 04:54] 0njzy0 opened #2209 "Why I have set the target to chrome 80, and the final conversion code still have polyfill"
This is my .babelrc

[code]

This is my code:

[code]

This is finall conversion code:

[code]

[2020-03-17 05:18] #2206 closed

[2020-03-18 05:25] #2209 closed

[2020-03-19 12:26] #2205 closed

[2020-03-20 22:44] hzoo opened #2213 "Post on preset-env using preset-modules"
Would like to do a writeup on this change from the technical point of view (deep dive) but also at a high level what this is doing and the changes we'd be making from a process point of view (fixing bugs in browsers) after [7.9](https://twitter.com/NicoloRibaudo/status/1241029752993067008?s=20) release.

Basically take https://github.com/babel/preset-modules readme, 7.9 post, and make it more appr

[2020-03-26 01:16] JLHwung opened #2218 "REPL + prettify should not throw on let = 42"
## Bug Report

Updates: ( Thanks to @nicolo-ribaudo )

When the `Prettify` setting of REPL is enabled
[code]
should not throw.

=== Below is original issue report ===

- [ ] I would like to work on a fix!

**Current Behavior**
The transformed result of the following snippet throws syntax error

[code]

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loos

[2020-04-09 00:21] JLHwung opened #2224 "Adding RecordAndTuple syntax throws error on REPL"
Link: https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&spec=false&loose=false&code_lz=MQbwjANABATAvkA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=true&sourceType=script&lineWrap=false&presets=env&prettier=false&targets=Node-13&version=7.9.0&externalPlugins=%40babel%2Fplugin-syntax-record-and-tuple%407.9.0

Ad

[2020-04-09 17:54] #2218 closed

[2020-04-16 13:58] caub commented on #1366
I'm not sure polyfill.io has less features

- https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js is 105kB
- https://cdn.polyfill.io/v3/polyfill.min.js?flags=always&features=all is 300kB

polyfill.io has Intl polyfill for example

[2020-04-23 15:07] eps1lon opened #2230 "Can't load plugins in playground"
1. Goto https://babeljs.io/repl
2. Expand "Plugins"
3. Click "Add plugin"
4. Click any plugin suggested
5. Error "Plugin @babel/plugin-transform-modules-commonjs could not be loaded"

Network requests starting with step 3:

![Screenshot from 2020-04-23 17-06-46](https://user-images.githubusercontent.com/12292047/80115322-e6a56e00-8584-11ea-9354-4e24c2a146bf.png)

Chrome 81 on Ubuntu 18.04

[2020-04-23 17:47] JLHwung commented on #2230
This is a known defect after we temporarily switch to `unpkg.com` because `bundle.run` is not available, see https://github.com/babel/website/pull/2228#pullrequestreview-396821658.

[2020-04-23 18:08] eps1lon commented on #2230
I wanted to test options for specific plugins so that wouldn't help. Though I'm not sure if I can even specify options for each plugin individually.

[2020-04-23 19:58] JLHwung commented on #2230
AFAIK the REPL does not support plugin specific options.

[2020-04-24 13:17] csdfgraham opened #2231 "add plugin documentation for babel.config.js files to https://babeljs.io/docs"
How do you configure a babel plugin in a babel.config.js file:

e.g https://babeljs.io/docs/en/babel-plugin-transform-remove-console doesn't mention the configuration required for a babel.config.js file, where would the configuration fit into a babel.config.js: for example:

[code]

[2020-04-27 09:01] xtuc opened #2233 "error in REPL"
I can't load the REPL and I'm seeing in the console
[code]

[2020-04-27 12:31] JLHwung commented on #2233
@xtuc It is a known bug due to miss matching state shape between local storage and the sources. As a workaround, you can clear site storage from the devTools.

[2020-04-27 13:12] xtuc commented on #2233
Ok, thanks.

[2020-04-27 16:35] hzoo commented on #2233
Are we able to clear local storage for the user upon an error like this?

[2020-04-27 16:47] JLHwung commented on #2233
@hzoo Yeah we should check the shape before error is thrown.

[2020-05-04 19:47] JLHwung commented on #2230
This issue is now fixed by #2237 .

[2020-05-04 19:47] #2230 closed

[2020-05-12 05:28] dilyanpalauzov opened #2239 "rollup-plugin-babel renamed"
https://babeljs.io/setup#rollup talks about rollup-plugin-babel, but it was renamed to `@rollup/plugin-babel`.

[2020-05-12 07:13] dilyanpalauzov opened #2240 "Promote core-js/stable instead of @babel/polyfill"
https://babeljs.io/docs/en/ says “Babel is a JavaScript compiler: Polyfill features that are missing in your target environment (through @babel/polyfill)”

https://babeljs.io/docs/en/usage says “Running these commands to install the packages: npm install --save @babel/polyfill… Polyfill: As of Babel 7.4.0, this package has been deprecated in favor of directly including core-js/stable (to polyfill

[2020-05-12 12:23] JLHwung commented on #2240
@dilyanpalauzov Thanks for the report, yeah we should have maintained consistency everywhere. Can you draft a PR?

[2020-05-12 12:24] JLHwung commented on #2239
@dilyanpalauzov PR is welcome! ☺️

[2020-05-12 12:39] dilyanpalauzov commented on #2240
No, I do not understand how it works.

[2020-05-12 14:28] dilyanpalauzov opened #2241 "Caveats about Ineffective browserslist queries"
https://babeljs.io/docs/en/babel-preset-env#targets says “This can either be a browserslist-compatible query (with caveats):”  The latter is a link to https://babeljs.io/docs/en/presets#ineffective-browserslist-queries .  This link shows no caveats.

[2020-05-12 16:02] dilyanpalauzov opened #2243 "babel-preset-env: do not repeat, that targets.esmodules discards targets.browsers"
https://babeljs.io/docs/en/babel-preset-env#targetsesmodules says:

As this text says twice, that targets.browsers will be ignored, deduplicate it.

[2020-05-12 16:29] dilyanpalauzov opened #2244 "Change the shorthands from babel-plugin-… to @babel/plugin-…"
https://babeljs.io/docs/en/plugins#plugin-shorthand says:

https://babeljs.io/docs/en/presets#preset-shorthand says:

As plugins and presets are commonly not prefixed with `babel-plugin-` or `babel-preset-`, but with `@babel/plugin-` and `@babel/preset-` change the shorthand options to `@babel/preset-` and `@babel/plugin-`.

[2020-05-12 16:37] dilyanpalauzov opened #2245 "Default targets for preset-env shall be “defaults”"
No `.browserslist` file implies a `.browserslist` file with content `default`, and this means support for IE 11 and this means, as of https://kangax.github.io/compat-table/es6/, only some ES2015/ES6.

https://babeljs.io/docs/en/babel-preset-env#targets says “Sidenote, if no targets are specified, @babel/preset-env will transform all ECMAScript 2015+ code by default.”

Apart from the fact that ther

[2020-05-12 18:58] JLHwung commented on #2244
I think we can list both `@babel/plugin` and `babel-plugin` as supported prefixes because
1) `@babel/core` supports both of them
2) Conventionally community plugins that are not hosted in `babel` repo start with `babel-plugin-`: e.g. `babel-plugin-istanbul`, `babel-plugin-dynamic-import-node` and a few others to name.

[2020-05-12 18:59] JLHwung commented on #2243
@dilyanpalauzov Thanks for your report. PR is always welcome!

[2020-05-12 19:12] #2241 closed

[2020-05-13 07:23] dilyanpalauzov opened #2247 "preset-env:forceAllTransforms’ description is tautology"
https://babeljs.io/docs/en/babel-preset-env#forcealltransforms says:

This means:  by default (forcealltransforms is false) all transform will run.  If the default is toggled (forcealltransforms is true), then all transforms will be run.

I see no difference when forceAllTransforms is true and when forceAllTransforms is false.

[2020-05-13 07:47] nicolo-ribaudo commented on #2247
The default behavior is

When the option is enabled,

For example, if your target environment is Chrome, the classes transform will to be enable because it's not needed. However, if you enable `forceAllTransform`, classes will be transformed.

[2020-05-13 07:55] dilyanpalauzov commented on #2247
“by default” means what will happen, if the option is not explicitly provided.

The documentation says, that the default value is false and by default, the preset will run all transforms

This means, that when the option is absent, or is set to false, all transforms will run.

If the target is Chrome, and the classes transform are not needed:
1) will by default the classes-transform be run
2) will

[2020-05-13 09:12] dilyanpalauzov commented on #2244
I am not sure what this means concerning the current state.

Calling `babel-cli --preset='typescript'` does not work (cannot find module 'babel-preset-typescript'), while `babel-cli --preset='@babel/preset-typescript` does work.

[2020-05-13 15:27] Daniel-Mietchen opened #2249 ""Try it out at our REPL." link in README.md gives "Could not load Babel build" error"
## Bug Report

I came here to learn about Babel, since I do not know it. So not sure I can help fix this.

**Current Behavior**

The link

from [README.md](../blob/master/README.md) currently redirects to

[https://babeljs.io/repl/build/master#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=NoRgNATGDMC6B0BbAhgBwBQDsAEBeAfNjgNTYgCUA3